{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="timeline" class="govuk-back-link">Back to Dylan's previous sessions</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Session detail</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-margin-bottom-7">

    <div class="moj-timeline">

      <div class="moj-timeline__item">
      
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Email to Dylan</h2>
        </div>
        
        <p class="moj-timeline__date">
          <time datetime="2019-06-14T14:01:00.000Z">10 April 2021 at 1:00pm</time>
        </p>
      
      <div class="moj-timeline__description">
        <p>
          Hi Dylan, 
        </p>
        <p>
          It’s really important that you come back in to see me. I understand that my last letter was sent to your old room so I’m trying you on the email address you provided me. 
          We talked at the beginning of your probation about what might happen if you refuse to comply. 
        </p>
        <p>
          My next available appointment is on the 17th of April at 10am. Can you make this? Please can you let me know as soon as you get this. I have sent another letter out to your new room no. at the hostel.
        </p>
        <p> 
          Kind Regards, 
        </p>
        <p>
          Mark
        </p>

      </div>
    
      </div>
      </div>

      <div class="moj-timeline__description">
        <a href="timeline-2" class="govuk-button govuk-button--secondary">Back to Dylan's previous sessions
        </a>
      </div>

  </div>

<div class="govuk-grid-column-one-third">

</div>      
    {% endblock %}