{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% endblock %}

{% block beforeContent %}
<a href="details" class="govuk-back-link">Back to Dylan's details</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-!-margin-bottom-7">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-7">
                  Update temporary addresses
                </h1>
              </legend>
            <h2 class="govuk-heading-m">
                Current details
            </h2>
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Temporary address<br>
                  <label class="govuk-label" for="telephone-number">
                   Mum's house<br>
                  </label>
                  <label id="more-detail-hint" class="govuk-hint">
                   Jan 2019 - Aug 2019
                  </label>
                </dt>
                <dd class="govuk-summary-list__value">
                  <br>
                  5 Grey Lane<br>
                  Sheffield<br>
                  South Yorkshire<br>
                  S10 1AG
                </dd>
              </div>
            </dl>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="add-temp-address" method="post" class="form">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-fieldset__heading">
                  Does this replace the existing temporary address?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="comply-yes" name="comply" type="radio" value="true">
                  <label class="govuk-label govuk-radios__label" for="comply-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="over18-absent" name="comply" type="radio">
                    <label class="govuk-label govuk-radios__label" for="comply-absent">
                        No, it's an additional address
                    </label>
                  </div>
              </div>
              </fieldset>
            </div>
    
            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
    
          </form>
     

    </div>

</div>


{% endblock %}