{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="moj-timeline">
      <div class="moj-timeline__item">
        {% include "includes/timeline-item-iteration-05.html" %}
      </div>
    </div>

    <h3 class="govuk-heading-m">Arrange a session</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-05/iteration-05-01.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-05/iteration-05-01.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-05/iteration-05-02.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-05/iteration-05-02.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-05/iteration-05-03.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-05/iteration-05-03.png">
      </a>
    </figure>
    <br><br>
    <h3 class="govuk-heading-m">Confirm attendance</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-05/iteration-05-04.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-05/iteration-05-04.png">
      </a>
    </figure>
    <br><br>
    <h3 class="govuk-heading-m">Update personal details</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-05/iteration-05-05.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-05/iteration-05-05.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-05/iteration-05-06.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-05/iteration-05-06.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-05/iteration-05-07.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-05/iteration-05-07.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-05/iteration-05-08.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-05/iteration-05-08.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-05/iteration-05-09.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-05/iteration-05-09.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-05/iteration-05-10.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-05/iteration-05-10.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-05/iteration-05-11.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-05/iteration-05-11.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-05/iteration-05-12.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-05/iteration-05-12.png">
      </a>
    </figure>
  </div>
</div>

{% endblock %}