{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="moj-timeline">
      <div class="moj-timeline__item">
        {% include "includes/timeline-item-iteration-02.html" %}
      </div>
    </div>

    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-02/iteration-02-01.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-02/iteration-02-01.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-02/iteration-02-02.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-02/iteration-02-02.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-02/iteration-02-03.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-02/iteration-02-03.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-02/iteration-02-04.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-02/iteration-02-04.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-02/iteration-02-05.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-02/iteration-02-05.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-02/iteration-02-06.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-02/iteration-02-06.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-02/iteration-02-07.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-02/iteration-02-07.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-02/iteration-02-08.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-02/iteration-02-08.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-02/iteration-02-09.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-02/iteration-02-09.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-02/iteration-02-10.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-02/iteration-02-10.png">
      </a>
    </figure>

  </div>
</div>

{% endblock %}