{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="moj-timeline">
      <div class="moj-timeline__item">
        {% include "includes/timeline-item-iteration-06.html" %}
      </div>
    </div>

    <h3 class="govuk-heading-m"><strong>Scenario 1</strong> - Arranging a session where a RAR activity is planned in
      advance</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-01.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-01.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-02.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-02.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-03.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-03.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-04.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-04.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-05.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-05.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-06.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-06.png">
      </a>
    </figure>
    <br><br>
    <h3 class="govuk-heading-m"><strong>Scenario 2</strong> - Confirming attendance whereby a RAR session didn’t go
      ahead as planned</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-07.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-07.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-08.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-08.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-09.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-09.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-10.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-10.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-11.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-11.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-12.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-12.png">
      </a>
    </figure>
    <br><br>
    <h3 class="govuk-heading-m"><strong>Scenario 3</strong> - Confirming attendance whereby a RAR activity was carried
      out that was unplanned</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-13.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-13.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-14.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-14.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-15.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-15.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-16.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-16.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-17.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-17.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-18.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-18.png">
      </a>
    </figure>
  </div>
</div>

{% endblock %}