{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="moj-timeline">
      <div class="moj-timeline__item">
        {% include "includes/timeline-item-iteration-03.html" %}
      </div>
    </div>

    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-01.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03/iteration-03-01.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-02.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03/iteration-03-02.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-03.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03//iteration-03-03.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-04.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03/iteration-03-04.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-05.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03/iteration-03-05.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-06.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03/iteration-03-06.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-07.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03/iteration-03-07.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-08.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03/iteration-03-08.png">
      </a>
    </figure>
    <figure>

    </figure>

  </div>
</div>

{% endblock %}