{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="moj-timeline">
      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Iteration 6 - Recording RAR</h2>
        </div>
        <p class="moj-timeline__date">
          <time>Tested 11 March 2021</time>
        </p>
        <div class="moj-timeline__description">
          <p class="govuk-body">Tasks covered:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <strong>Scenario 1</strong> - Arranging a session where a RAR activity is planned in advance
            </li>
            <li>
              <strong>Scenario 2</strong> - Confirming attendance whereby a RAR session didn’t go ahead as planned
            </li>
            <li>
              <strong>Scenario 3</strong> - Confirming attendance whereby a RAR activity was carried out that was
              unplanned
            </li>
          </ul>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Outputs
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  Users were confused about the policy around compliance if a Service User attends but isn’t able to
                  complete the planned activity. Whilst it didn’t affect their ability to complete the transaction, they
                  weren’t sure they had recorded
                  the right answer
                </li>
              </ul>
            </div>
          </details>
        </div>
      </div>

    </div>
    <h3 class="govuk-heading-m"><strong>Scenario 1</strong> - Arranging a session where a RAR activity is planned in
      advance</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-01.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-01.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-02.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-02.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-03.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-03.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-04.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-04.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-05.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-05.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-06.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-06.png">
      </a>
    </figure>
    <br><br>
    <h3 class="govuk-heading-m"><strong>Scenario 2</strong> - Confirming attendance whereby a RAR session didn’t go
      ahead as planned</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-07.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-07.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-08.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-08.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-09.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-09.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-10.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-10.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-11.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-11.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-12.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-12.png">
      </a>
    </figure>
    <br><br>
    <h3 class="govuk-heading-m"><strong>Scenario 3</strong> - Confirming attendance whereby a RAR activity was carried
      out that was unplanned</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-13.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-13.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-14.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-14.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-15.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-15.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-16.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-16.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-17.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-17.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-06/iteration-06-18.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-06/iteration-06-18.png">
      </a>
    </figure>
  </div>
</div>

{% endblock %}