{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="moj-timeline">
      <div class="moj-timeline__item">
        {% include "includes/timeline-item-iteration-04.html" %}
      </div>
    </div>

    <br><br>
    <h3 class="govuk-heading-m">View service users details</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-01.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-01.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-02.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-02.png">
      </a>
    </figure>
    <br><br>
    <h3 class="govuk-heading-m">View plan</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-03.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-03.png">
      </a>
    </figure>
    <br><br>
    <h3 class="govuk-heading-m">View session notes</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-04.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-04.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-05.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-05.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-06.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-06.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-07.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-07.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-08.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-08.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-09.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-09.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-10.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-10.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-11.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-11.png">
      </a>
    </figure>
    <br><br>
    <h3 class="govuk-heading-m">Arrange a session</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-12.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-12.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-13.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-13.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-14.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-14.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-15.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-15.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-16.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-16.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-17.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-17.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-18.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-18.png">
      </a>
    </figure>
    <br><br>
    <h3 class="govuk-heading-m">Rearrange a session</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-19.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-19.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-20.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-20.png">
      </a>
    </figure>
    <br><br>
    <h3 class="govuk-heading-m">Confirm attendance</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-21.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-21.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-22.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-22.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-23.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-23.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-24.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-24.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-25.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-25.png">
      </a>
    </figure>
    <br><br>
    <h3 class="govuk-heading-m">Add session notes</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-04/iteration-04-26.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-04/iteration-04-26.png">
      </a>
    </figure>
    <figure>

    </figure>

  </div>
</div>

{% endblock %}