{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="moj-timeline">
      <div class="moj-timeline__item">
        {% include "includes/timeline-item-iteration-01.html" %}
      </div>
    </div>

    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-01/iteration-01-01.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-01/iteration-01-01.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-01/iteration-01-02.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-01/iteration-01-02.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-01/iteration-01-03.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-01/iteration-01-03.png">
      </a>

    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-01/iteration-01-04.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-01/iteration-01-04.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-01/iteration-01-05.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-01/iteration-01-05.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-01/iteration-01-06.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-01/iteration-01-06.png">
      </a>
    </figure>
  </div>
</div>

{% endblock %}