<div class="moj-scrollable-pane">
  <div class="moj-scrollable-pane__wrapper">
    <table class="govuk-table govuk-table-xl">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row govuk-table__row">
          <th scope="col" class="govuk-table__header custom-defendant-width" aria-sort="none">Service user</th>
          <th scope="col" class="govuk-table__header custom-delius-record-width" aria-sort="none">Probation
            status
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Sentence</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Tier</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Appointment</th>
          <!--<th scope="col" class="govuk-table__header custom-session-width" aria-sort="none">Session</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Court</th>-->
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="case-detail" class="govuk-link govuk-link--no-visited-state">
              Dylan Adam Armstrong
            </a>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">Previously known</li>
              <li class="secondary-text-col">Order ended 24 Nov 2016</li>
            </ul>
          </td>
          <td class="govuk-table__cell">Burglary<br>
            Sub category: Theft act, 1968<br>
            End of sentence date: 01/04/2021<br>
            Order: Suspended sentence</td>
            <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">31 Jan 14:30</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="" class="govuk-link--no-visited-state">
              Džiugas Atraskevicius
            </a>
          </td>
          <td class="govuk-table__cell">
            <!-- <span class="moj-badge moj-badge--red">Possible record</span>  -->
            Current
          </td>
          <td class="govuk-table__cell">
            Misuse of Drugs Act 1971 s.4(3)<br>
            Sub category: Misuse of Drugs Act 1971, s.5(3)<br>
            Date: 01/01/2020<br>
            Order: Suspended sentence
            <td class="govuk-table__cell">2</td>
            <td class="govuk-table__cell">4 Feb 12:00</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="" class="govuk-link--no-visited-state">
              Spencer Gill
            </a>
          </td>
          <td class="govuk-table__cell">No record</span>
            <td class="govuk-table__cell">Burglary<br>
              Sub category: Theft act, 1968<br>
              End of sentence date: 01/04/2021<br>
              Order: Suspended sentence</td>
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">15 Feb 9:30</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="" class="govuk-link--no-visited-state">
              Joshua Kennedy
            </a>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">Previously known</li>
              <li class="secondary-text-col">Order ended 05 Jan 2018</li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            Misuse of Drugs Act 1971 s.4(3)<br>
            Sub category: Misuse of Drugs Act 1971, s.5(3)<br>
            Date: 01/01/2020<br>
            Order: Suspended sentence</td>
            <td class="govuk-table__cell">2</td>
            <td class="govuk-table__cell">4 Feb 12:00</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="" class="govuk-link--no-visited-state">
              Robert John Stewart
            </a>
          </td>
          <td class="govuk-table__cell">
            No record
          </td>
          <td class="govuk-table__cell">Burglary<br>
            Sub category: Theft act, 1968<br>
            End of sentence date: 01/04/2021<br>
            Order: Suspended sentence</td>
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">10 Mar 17:00</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="" class="govuk-link--no-visited-state">
              Benjamin Dawson
            </a>
          </td>
          <td class="govuk-table__cell">
            </span>No record
          </td>
          <td class="govuk-table__cell">
            Misuse of Drugs Act 1971 s.4(3)<br>
            Sub category: Misuse of Drugs Act 1971, s.5(3)<br>
            Date: 01/01/2020<br>
            Order: Suspended sentence</td>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">22 Mar 10:00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>