{% set session = arrangedSession({
  providerCode: data['provider-code'],
  typeOfSession: data['communication'][CRN]['type-of-session'],
  contactType: data['communication'][CRN]['other-type-of-session'],
  date: data['communication'][CRN]['session-date'],
  startTime: data['communication'][CRN]['session-start-time'],
  endTime: data['communication'][CRN]['session-end-time'],
  countsTowardsRAR: data['communication'][CRN]['session-counts-towards-rar'] == 'Yes',
  rarCategory: data['communication'][CRN]['session-rar-category'],
  rarSubCategory: data['communication'][CRN]['session-rar-subcategory'],
  locationCode: data['communication'][CRN]['session-location-code']
}) %}

{% set ndeliusDataHTML %}
  <h2 class="govuk-heading-m">Contact record</h2>
  {{ govukSummaryList({
    classes: 'govuk-summary-list--no-border',
    rows: [
      {
        key: { text: "Contact type code" },
        value: { text: session.contactRecord.typeCode }
      },
      {
        key: { text: "Contact type description" },
        value: { text: session.contactRecord.typeDescription }
      },
      {
        key: { text: "Location code" },
        value: { text: session.contactRecord.locationCode }
      }
    ]
  }) }}

  {% if session.nsiRecord %}
    <h2 class="govuk-heading-m">NSI record</h2>

    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
        {
          key: { text: "RAR type description" },
          value: { text: session.nsiRecord.typeDescription }
        },
        {
          key: { text: "RAR subtype description" },
          value: { text: session.nsiRecord.subtypeDescription }
        }
      ]
    }) }}

  {% endif %}
{% endset %}

{{ govukDetails({
  summaryText: "What’s going to be recorded into NDelius",
  html: ndeliusDataHTML
}) }}
