<div class="moj-timeline__header">
  <h2 class="moj-timeline__title">Iteration 5 - Design sprint - Completing tasks on mobile devices</h2>
</div>
<p class="moj-timeline__date">
  <time>Tested 25 February 2021</time>
</p>
<div class="moj-timeline__description">
  <p class="govuk-body">
    We know that Probation Practitioners save up their recording tasks until they can get back to their desks and
    input into Delius.
  </p>
  <p class="govuk-body">
    Enable Probation Practitioners to complete quick recording tasks during and between meetings with service users,
    reducing the administrative burden when they get back to their desk?
  </p>
  <p class="govuk-body">Tasks covered:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Scenario 1 - Mark an SU as complied
    </li>
    <li>
      Scenario 2 - Arrange the next session
    </li>
    <li>
      Scenario 3 - Update SUs personal details - Address and phone number
    </li>
  </ul>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Outputs
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Users welcomed the idea of being able to use their mobiles to record information directly into the system
        </li>
        <li>
          Users would use it as a reference to check details on a case if they are making a home visit
        </li>
        <li>
          Users are already using their mobiles - but as a workaround. They then have to add information into the system
          manually.
        </li>
        <li>
          Users want to see the type of appointment on their calendar view, so they can prepare
        </li>
        <li>
          Needed option for evening time slots, as they sometimes have late appointments
        </li>
        <li>
          Users found ‘Other names’ confusing, and used the term ‘Aliases’
        </li>
        <li>
          A dictation feature would help when adding case notes (user tested with dyslexia who uses Dragon)
        </li>
        <li>
          Users wanted to be able to integrate with their phone contacts (eg: when updating mobile number)
        </li>
      </ul>
    </div>
  </details>
</div>