<div class="moj-timeline__header">
  <h2 class="moj-timeline__title">Iteration 2 - First task-based testing</h2>
</div>
<p class="moj-timeline__date">
  <time>Tested 2 December 2020</time>
</p>
<div class="moj-timeline__description">
  <p class="govuk-body">Tasks covered:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      preparing for induction
    </li>
    <li>
      adding session notes
    </li>
    <li>
      arranging a session
    </li>
  </ul>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Outputs
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Using the 'Prepare a case for sentence' prototype as a starting point for our prototype was making it
          difficult to know how users needed the
          information to be structured.
        </li>
        <li>
          Didn't get to the core user needs.
        </li>
        <li><strong>Next steps</strong> - Run card sorting workshops with Probation
          Practitioners, asking them to group information and prioritise when they would need the information.
        </li>
      </ul>
    </div>
  </details>
</div>