<div class="moj-timeline__header">
  <h2 class="moj-timeline__title">Iteration 6 - Recording RAR</h2>
</div>
<p class="moj-timeline__date">
  <time>Tested 11 March 2021</time>
</p>
<div class="moj-timeline__description">
  <p class="govuk-body">Tasks covered:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <strong>Scenario 1</strong> - Arranging a session where a RAR activity is planned in advance
    </li>
    <li>
      <strong>Scenario 2</strong> - Confirming attendance whereby a RAR session didn’t go ahead as planned
    </li>
    <li>
      <strong>Scenario 3</strong> - Confirming attendance whereby a RAR activity was carried out that was
      unplanned
    </li>
  </ul>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Outputs
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          All three users were able to complete each scenario with relative ease bar the odd prompt for one of our
          participants, we are now confident in the usability of these transactions
        </li>
        <li>
          Users were confused about the policy around compliance if a Service User attends but isn’t able to
          complete the planned activity. Whilst it didn’t affect their ability to complete the transaction, they
          weren’t sure they had recorded
          the right answer
        </li>
      </ul>
    </div>
  </details>
</div>