{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="progress" class="govuk-back-link">Back to Dylan's progress</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="attendance-add-9" method="post" class="form">

      <h1 class="govuk-heading-l">Check your answers</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            RAR activity
          </dt>
          <dd class="govuk-summary-list__value">
            Thinking skills, attitudes and behaviour
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> RAR activity</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Dylan complied
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> compliance</span>
            </a>
          </dd>
        </div>
        <!--<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for not complying
          </dt>
          <dd class="govuk-summary-list__value">
            Behavioural issues
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> reason for not complying</span>
            </a>
          </dd>
        </div>--->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Session notes
          </dt>
          <dd class="govuk-summary-list__value">
            None
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> session notes</span>
            </a>
          </dd>
        </div>
      </dl>

      <p class="govuk-body">You're confirming attendance for:</p>

      <div class="govuk-inset-text">
        <strong>Office visit</strong><br>
        Wednesday 23 April from 1pm to 2pm
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Confirm attendance
      </button>

    </form>

  </div>
</div>

{% endblock %}