// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/button";
@import "components/cards";
@import "components/case-notes";
@import "components/cookie-banner";
@import "components/filter";
@import "components/timeline";
@import "components/key-details-bar";
@import "components/time-autocomplete";

@import 'accessible-autocomplete.min';
@import 'max-widths';
@import 'govuk-page-masthead';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Document icon image
.moj-timeline__document-link {
  background-image: url(/public/images/icon-document.svg) !important;
}

.app-cases-table td ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.4em;
}

.app-cases-table td ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

@media screen and (min-width: 40.0625em) {
  .app-cases-table .custom-delius-record-width {
    min-width: 180px;
  }

  .app-cases-table .custom-defendant-width {
    min-width: 160px;
  }
}

// Secondary text colour
.secondary-text-col {
  color: $govuk-secondary-text-colour;
}

.app-organisation-nav-title {
  float: right;
  padding-top: 19px;
}

.app-case-updates {
  margin-bottom: 25px;
}

@media (min-width: 1100px) {
  .app-case-updates {
    float: right;
    margin-bottom: 0;
    margin-top: 15px;
  }
}

.govuk-panel--appointment {
  color: #ffffff;
  background: #28a197;
  margin-bottom: 2rem;
}

.govuk-panel--appointment-none {
  color: #0b0c0c;
  background: #f3f2f1;
  margin-bottom: 2rem;
}

.govuk-panel--appointment-timeline {
  color: #ffffff;
  background: #1d70b8;
  margin-bottom: 2rem;
  padding: 20px;
}

.govuk-panel__title {
  font-size: 27px;
  line-height: 1;
}

@media (min-width: 40.0625em) {
  .govuk-panel__title {
    font-size: 36px;
    line-height: 1;
  }
}

.govuk-panel__body {
  font-size: 19px;
  line-height: 1.3;
}

@media (min-width: 40.0625em) {
  .govuk-panel__body {
    font-size: 24px;
    line-height: 1.4;
  }
}

.govuk-panel__small {
  font-size: 16px;
  line-height: 1.3;
}

@media (min-width: 40.0625em) {
  .govuk-panel__small {
    font-size: 19px;
    line-height: 1.4;
  }
}

.note-panel {
  background-color: #f3f2f1;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.note-panel ul {
  margin-top: 0;
}

.govuk-hint-s {
  color: #505a5f;
}
