{% extends "layout.html" %}

{% block pageTitle %}
Case history
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v2/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="case-list" class="govuk-back-link">Back to my cases</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="overview.html">Overview</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="appointments.html">Appointments</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="risks-and-needs.html">Risks and
            needs</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="interventions.html">Interventions</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="case-notes-add.html">Case notes</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Case notes</h1>
  </div>
  <div class="govuk-tabs" data-module="govuk-tabs">
    <div class="app-case-updates">
    </div>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="case-notes-add">
          Add case notes
        </a>
      </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="case-history">
          Case notes history
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Case history</h1>

    {% block filter %}
    {% include "includes/new-service-user/v2/filter.html" %}
    {% endblock %}

  <table class="govuk-table" style="max-width:none;">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" width="230px">Date and time</th>
        <th scope="col" class="govuk-table__header">Details</th>
        <th scope="col" class="govuk-table__header" width="150">Added by</th>
        <button type="button" class="govuk-button app-apply-filters-button" onclick="applyFilters()">Apply filters</button>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">18 Nov 2020 at 12:44pm</td>
          <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
          <td class="govuk-table__cell">Mark Berridge</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">18 Nov 2020 at 12:40pm</td>
          <td class="govuk-table__cell">Vivamus ut dapibus enim. Curabitur aliquet ipsum at euismod consequat.</td>
          <td class="govuk-table__cell">Mark Berridge</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">18 Nov 2020 at 12:35pm</td>
          <td class="govuk-table__cell">Nullam est neque, blandit ut consectetur in, auctor eget lacus. Mauris mattis enim ac neque ultrices, vitae semper purus faucibus. Phasellus maximus metus nec lorem eleifend malesuada. Integer sed varius orci, nec semper ex.</td>
          <td class="govuk-table__cell">Mark Berridge</td>
        </tr>
    </tbody>
  </table>
  </div>
</div>  

{% endblock %}