{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v2/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="case-list" class="govuk-back-link">Back to my cases</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="overview.html">Overview</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="appointments.html">Appointments</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="risks-and-needs.html">Risks and needs</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="interventions.html">Interventions</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="case-notes-add.html">Case notes</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l govuk-!-margin-bottom-7">Next appointment</h2>
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Wednesday 18th November 2020 at 1:45pm</h2>
      <p class="govuk-body govuk-!-font-weight-bold">Planned office visit</p>
      <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac sem neque. Phasellus porttitor dui sit amet erat placerat pulvinar. Nunc porta sit amet mauris et vestibulum.</p>
      <p class="govuk-body">Added by Mark Berridge</p>
    </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-l govuk-!-margin-bottom-7">Sentence status</h2>
      <div class="govuk-!-margin-bottom-8">
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Community order</p>
        <h2 class="govuk-heading-m">8 months remaining</h2>
      </div>
      <div class="govuk-!-margin-bottom-8">
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">RAR days</p>
        <h2 class="govuk-heading-m">15 days remaining</h2>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
      <div class="govuk-!-margin-bottom-8">
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Phone number</p>
        <h2 class="govuk-heading-m">077 0090 0077</h2>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Sentence summary</h1>
        <div class="govuk-!-margin-bottom-8">
          <h2 class="govuk-heading-m">Offences</h2>
          <h3 class="govuk-heading-s">Drive motor vehicle when alcohol level above limit</h3>
          <p class="govuk-body govuk-!-margin-bottom-2">On Friday 10th June at Green Avenue, Sheffield drove a motor
            vehicle namely BMW registration AB12 ZZZ on a road namely Green Avenue, Sheffield, after consuming so much
            alcohol that the proportion of it in your breath, namely 117 microgrammes of alcohol in 100 millilitres of
            breath, exceeded the prescribed limit. </p>
          <p class="govuk-body secondary-text-col">Contrary to section 5(1)(a) of the Road Traffic Act 1988 and schedule 2
            to the Road Traffic Offenders Act 1988.</p>
        </div>
    
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
        <div class="govuk-!-margin-bottom-8">
          <h2 class="govuk-heading-m">Sentence</h2>
          <div class="govuk-!-margin-bottom-7">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 Community order
                </dt>
                <dd class="govuk-summary-list__value">
                  12 months
                </dd>
                </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Rehabilitative Activity Requirement (RAR)
                </dt>
                <dd class="govuk-summary-list__value">
                  15 days
                </dd>
              </div>
            </dl>
          </div>
        </div>
    
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
        <div class="govuk-!-margin-bottom-7">
          <h2 class="govuk-heading-m">
            Documents
          </h2>
          <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  CPS pack
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="#">View</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Court order
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="#">View</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Equality information
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="#">View</a>
                </dd>
              </div>
          </dl>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Service user details</h1>
      
          <div class="govuk-!-margin-bottom-7">
            <h2 class="govuk-heading-m">
              Personal details
            </h2>
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  Dylan Adam Armstrong
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Other names
                </dt>
                <dd class="govuk-summary-list__value">
                  Shorty
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  27 September 1984 (35 years old)
                </dd>
              </div>
            </dl>
          </div>
      
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
          <div class="govuk-!-margin-bottom-7">
            <h2 class="govuk-heading-m">
              Contact details
            </h2>
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  1 Grey Lane<br> Sheffield<br> South Yorkshire<br> S10 1AG
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Phone number
                </dt>
                <dd class="govuk-summary-list__value"> 
                  077 0090 0077
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email
                </dt>
                <dd class="govuk-summary-list__value"> 
                  example@example.com
                </dd>
              </div>
            </dl>
          </div>
      
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
          <div class="govuk-!-margin-bottom-7">
            <h2 class="govuk-heading-m">
              Equality information
            </h2>
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Gender
                </dt>
                <dd class="govuk-summary-list__value">
                  Male
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Ethnicity
                </dt>
                <dd class="govuk-summary-list__value">
                  White: British
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Nationality
                </dt>
                <dd class="govuk-summary-list__value">
                 British
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Preferred language	
                </dt>
                <dd class="govuk-summary-list__value">
                 English
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Religion or belief	
                </dt>
                <dd class="govuk-summary-list__value">
                  None
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Sexual orientation		
                </dt>
                <dd class="govuk-summary-list__value">
                  Heterosexual
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Disabilities			
                </dt>
                <dd class="govuk-summary-list__value">
                  Autism spectrum condition
                </dd>
              </div>
            </dl>
          </div>
      
          </div>
          </div>
      
    



{% endblock %}