{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="progress" class="govuk-back-link">Back to Dylan's progress</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="appointment-update-6" method="post" class="form">
            
              <h1 class="govuk-heading-l">Check your answers</h1>
            
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Reason for rearranging
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Dylan's work shift has changed
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Type of session
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Office visit
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> date of birth</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Wednesday 10 March
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> address</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Time
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">2pm to 3pm</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    RAR activity
                  </dt>
                  <dd class="govuk-summary-list__value">
                    None
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Calendar note
                  </dt>
                  <dd class="govuk-summary-list__value">
                    None
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> licence period</span>
                    </a>
                  </dd>
                </div>
              </dl>
                              
                <button class="govuk-button" data-module="govuk-button">
                  Rearrange this session
                </button>
      
              </form>
      
            </div>
          </div>

{% endblock %}
