{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="sentence" class="govuk-back-link">Back to {{ case.serviceUserPersonalDetails.firstName }}'s sentence</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ case.serviceUserPersonalDetails.firstName }}'s previous orders</h1>
  </div>
</div>

<div class="govuk-!-margin-bottom-8">

  <h2 class="govuk-heading-m">Previous orders</h2>

  {% for order in case.previousOrders %}
    <p class="govuk-heading-s govuk-!-margin-bottom-0">
      <a class="govuk-link govuk-link--no-visited-state" href="#">
        {{ order.title }}
      </a>
    </p>

    <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ order.description }}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Ended on {{ order.endDate | dateWithYearShortMonth }}</td>
        </tr>
      </tbody>
    </table>
  {% endfor %}
</div>

{% endblock %}
