{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="case-list" class="govuk-back-link">Back to my cases</a>
{% endblock %}

{% block content %}

{% set currentNavSection = 'progress' %}
{% include "includes/navigation.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ case.serviceUserPersonalDetails.firstName }}'s progress</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--PROGRESSED SENTENCE STATUS-->
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Sentence
      </h2>

      <div class="graph">
        <div>
          <span class="amount" style="width:54%">
            <span>6 of 12 months</span>
          </span>
        </div>
      </div>
    </div>

    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Rehabilitation Activity Requirement (RAR)
      </h2>

      <div class="graph">
        <div>
          <span class="amount" style="width:33%">
            <span>5 of 15 days</span>
          </span>
        </div>
      </div>
    </div>

    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Risks
      </h2>

      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ROSHA score
          </dt>
          <dd class="govuk-summary-list__value">
            Medium
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            OGRS score
          </dt>
          <dd class="govuk-summary-list__value">
            0.5
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            RSR score
          </dt>
          <dd class="govuk-summary-list__value">
            3 - 6.89% - Medium
          </dd>
        </div>
      </dl>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Needs
      </h2>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Criminogenic needs
          </dt>
          <dd class="govuk-summary-list__value">
            Accommodation<br>
            Relationships<br>
            Thinking and attitudes
          </dd>
        </div>
      </dl>
    </div>

  </div>

  <div class="govuk-grid-column-one-third">

    <!--TIME ARRANGED-->
    <h2 class="govuk-heading-m">
      Actions
    </h2>
    <p class="govuk-body">
      <a href="arrange-a-session/session-add-1" class="govuk-button govuk-button" style="margin-bottom: 0;">
        Arrange a session
      </a>
    </p>

    <h2 class="govuk-heading-m">
      Next session
    </h2>
    <div class="govuk-!-margin-bottom-9">
      <div class="govuk-panel govuk-panel--appointment-timeline">
        <div class="govuk-panel__body">
          <strong>Wednesday 23 April from<br>1pm to 2pm</strong><br>
          Office visit<br><br>
          <a href="arrange-a-session/session-update-1" class="govuk-button govuk-button--secondary"
            data-module="govuk-button" style="margin-bottom: 0;">
            Rearrange or cancel session
          </a>
        </div>
      </div>
    </div>


  </div>

</div>

{% endblock %}
