{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="timeline" class="govuk-back-link">Back to Dylan's previous sessions</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Phone call</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-margin-bottom-7">

    <div class="moj-timeline">

      <div class="moj-timeline__item">

      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Session detail</h2>

        <p class="moj-timeline__byline">by Mark Berridge
          &NonBreakingSpace;{{ govukTag({text: 'Failed to comply', classes: 'govuk-tag--red'}) }}
        </p>

      </div>

      <p class="moj-timeline__date">
        <time datetime="2019-06-07T12:32:00.000Z">3 February at 13:00pm</time>
      </p>

      <div class="moj-timeline__description">
        <p>I called Dylan to confirm he had understood where he needed to be and when for his induction appointment. He was rude and abusive and in general very hostile in reaction to his sentence saying this wasn’t his fault. He mentioned he “doesn’t have time for this”. I reiterated that he must be at the office on Monday as part of his sentence requirements and if he doesn’t it’s going to reflect very poorly.
        </p>
        <p>I explained what happens when someone doesn’t turn up for their appointments in terms of being sent to court. He said “well I’m not up for that” I asked him again to confirm he’ll be available on Monday which he did, albeit reluctantly.</p>
      </div>

      </div>
      </div>

      <div class="moj-timeline__description">
        <a href="timeline" class="govuk-button govuk-button--secondary">Back to Dylan's previous sessions
        </a>
      </div>

  </div>

<div class="govuk-grid-column-one-third">

</div>
    {% endblock %}
