{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v4/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="case-list" class="govuk-back-link">Back to my cases</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="progress.html">Progress</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="plan.html">Plan</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="timeline.html">Previous sessions</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="details.html">Personal details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="sentence.html">Sentence</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Dylan's plan</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-margin-bottom-7">
        <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3" style="max-width:none;">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <p class="govuk-heading-s govuk-!-margin-bottom-0">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">
                    Risk assessment
                  </a>
                </p>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                Last updated 1 August 2021
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <p class="govuk-heading-s govuk-!-margin-bottom-0">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">
                    Risk management plan
                  </a>
                </p>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <strong class="govuk-tag govuk-tag--grey">
                  Not started
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <p class="govuk-heading-s govuk-!-margin-bottom-0">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">
                    Sentence plan
                  </a>
                </p>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <strong class="govuk-tag govuk-tag--grey">
                  Not started
                </strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

  </div>
</div>

<div class="govuk-grid-column-one-third">


</div>      
    {% endblock %}