{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v4/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="case-list" class="govuk-back-link">Back to my cases</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="progress.html">Dylan's progress</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="timeline.html">Dylan's activity</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="plan.html">Dylan's plan</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="details.html">Dylan's details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="sentence.html">Dylan's sentence</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Dylan’s progress</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="moj-banner">
      
      <div class="moj-banner__message">
      
      <h2 class="govuk-heading-m">This will be updated as the sentence progresses.</h2>
      </div>
      
      </div> 

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Risks
      </h2>
    
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ROSHA score
          </dt>
          <dd class="govuk-summary-list__value">
            Medium
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            OGRS score
          </dt>
          <dd class="govuk-summary-list__value">
            0.5
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            RSR score
          </dt>
          <dd class="govuk-summary-list__value">
            3 - 6.89% - Medium
          </dd>
        </div>
      </dl>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Needs
      </h2>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Criminogenic needs
          </dt>
          <dd class="govuk-summary-list__value">
            Accommodation<br>
            Relationships<br>
            Thinking and attitudes
          </dd>
        </div>
      </dl>
    </div>
    
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="govuk-!-margin-bottom-7">
      
        <h2 class="govuk-heading-m">
          Dylan's recent activity
        </h2>
      
        <div class="moj-timeline">
          <div class="moj-timeline__item">
            
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Office visit</h2>
            
              <p class="moj-timeline__byline">by Mark Berridge</p>
            
            </div>
            
            <p class="moj-timeline__date">
              <time datetime="2019-06-14T14:01:00.000Z">23 February 2021 at 1:00pm</time>
            </p>
            
            <div class="moj-timeline__description">
              <a href="attendance-add" class="govuk-button govuk-button--secondary">Confirm attendance</a>
            </div>
            
            </div>
            
          
          <div class="moj-timeline__item">
          
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Phone call</h2>
          
            <p class="moj-timeline__byline">by Mark Berridge</p>
          
          </div>
          
          <p class="moj-timeline__date">
            <time datetime="2019-06-07T12:32:00.000Z">21 February at 13:00pm</time>
          </p>
          
          <div class="moj-timeline__description">
            <p>The shoes had been there for as long as anyone could remember. In fact, it was difficult for anyone to come up with a date they had first appeared. It had seemed they'd always been there and yet they seemed so out of place. Why nobody had removed them was a question that had been asked time and again, but while they all thought it, nobody had ever found the energy to actually do it. So, the shoes remained on the steps, out of place in one sense, but perfectly normal in another.</p>
            <a href="#">View full details</a></div>
          
          </div>
           
          <div class="moj-timeline__item">
          
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Communication with a third party</h2>
          
            <p class="moj-timeline__byline">by Mark Berridge</p>
          
          </div>
          
          <p class="moj-timeline__date">
            <time datetime="2019-05-28T10:15:00.000Z">20 February 2021 at 10:15am</time>
          </p>
          
          <div class="moj-timeline__description">
            <ul class="moj-timeline__documents">
              <li class="moj-timeline__document-item">
                <a class="moj-timeline__document-link" href="#">Induction pack</a>
              </li>
              <li class="moj-timeline__document-item">
                <a class="moj-timeline__document-link" href="#">Email to social worker</a>
              </li>
            </ul>
          </div>
          
          </div>
        
          </div>
      
          <p class="govuk-body">
            <a href="timeline"><strong>View all activity</strong></a>
          </p>
      
          </div>
    
      </div>

<div class="govuk-grid-column-one-third">

   <!--NO TIME ARRANGED-->
   <div class="govuk-panel govuk-panel--appointment-none">
    <h1 class="govuk-panel__body" style="margin-top: 0px;"><strong>
      You do not have any time arranged with Dylan</strong>
    </h1>
    <div class="govuk-panel__body">
      <a href="appointment-add" class="govuk-button govuk-button" data-module="govuk-button" style="margin-bottom: 0;">
        Arrange time with Dylan
      </a>
    </div>
  </div>

</div>      
    {% endblock %}