{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v4/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="case-list" class="govuk-back-link">Back to my cases</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="progress.html">Dylan's progress</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="timeline.html">Dylan's activity</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="plan.html">Dylan's plan</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="details.html">Dylan's details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="sentence.html">Dylan's sentence</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Dylan's sentence</h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
      <div class="govuk-!-margin-bottom-7">
        <h2 class="govuk-heading-m">
          Community Order
        </h2>
        <p class="govuk-body">Using violence to secure entry (Criminal Law Act/CJ and Public Order Act) - 19563</p>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Length
          </dt>
          <dd class="govuk-summary-list__value">
            12 months
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            5 January 2021
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            End date		
          </dt>
          <dd class="govuk-summary-list__value">
            4 January 2022
          </dd>
        </div>
        </dl>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-!-margin-bottom-7">
        <h3 class="govuk-heading-m">
          Requirements
        </h3>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Rehabilitation Activity Requirement (RAR)
            </dt>
            <dd class="govuk-summary-list__value">
              15 days
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fine		
            </dt>
            <dd class="govuk-summary-list__value">
              £1,000
            </dd>
          </div>
        </dl>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="govuk-!-margin-bottom-7">
          <h3 class="govuk-heading-m">
            Offence details
          </h3>
          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Offence date		
              </dt>
              <dd class="govuk-summary-list__value">
                15 November 2020
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Conviction date	
              </dt>
              <dd class="govuk-summary-list__value">
                12 December 2020
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Court	
              </dt>
              <dd class="govuk-summary-list__value">
                Sheffield Magistrates' Court
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Responsible court		
              </dt>
              <dd class="govuk-summary-list__value">
                Sheffield Magistrates' Court
              </dd>
            </div>
            </dl>
        </div>

  </div><!--END COL TWO THIRDS-->

  <div class="govuk-grid-column-one-third">
    <div class="govuk-!-margin-bottom-7">

      <h2 class="govuk-heading-m">
        Court documents</h2>

      <div class="moj-timeline__description">
        <div class="note-panel">
          <ul class="moj-timeline__documents">
            <li class="moj-timeline__document-item" style="margin-bottom: 20px;">
              <a class="moj-timeline__document-link" href="#"><strong>Pre-sentence report</strong></a><br>
              <span style="padding-left: 25px;">Last updated 3 Dec 2020</span>
            </li>
            <li class="moj-timeline__document-item" style="margin-bottom: 20px;">
              <a class="moj-timeline__document-link" href="#"><strong>Order</strong></a><br>
              <span style="padding-left: 25px;">Last updated 3 Dec 2020</span>
            </li>
            <li class="moj-timeline__document-item" style="margin-bottom: 20px;">
              <a class="moj-timeline__document-link" href="#"><strong>CPS pack</strong></a><br>
              <span style="padding-left: 25px;">Last updated 3 Dec 2020</span>
            </li>
            <li class="moj-timeline__document-item">
              <a class="moj-timeline__document-link" href="#"><strong>Previous convictions</strong></a><br>
              <span style="padding-left: 25px;">Last updated 3 Dec 2020</span>
            </li>
          </ul>
        </div>
      </div>    

   </div>
    <h2 class="govuk-heading-m">Dylan's history</h2>

    <!--TIME ARRANGED-->
<div class="govuk-panel govuk-panel--appointment-timeline">
  <div class="govuk-panel__body">
    <strong>Probation status</strong><br>
    Previously known
  </div>
</div>

    <p class="govuk-body">
      <a href="sentence-previous-orders">
        <span class="govuk-!-font-weight-bold">
          Previous orders (5)
        </span>
      </a>
      <br>
    </p>
    <p class="govuk-body">
      <a href="sentence-previous-officers">
        <span class="govuk-!-font-weight-bold">
          Previous responsible officers (1)
        </span>
      </a>
    </p>
  </div>

</div><!--END GRID ROW-->     

{% endblock %}