{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v4/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="progress" class="govuk-back-link">Back to Dylan's progress</a>
{% endblock %}

{% block content %}
<div class="moj-banner moj-banner--success">
  <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
  <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" /></svg>
  <div class="moj-banner__message">
  <span class="moj-banner__assistive">Success</span>Item added to Dylan's activity</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="progress.html">Dylan's progress</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="timeline.html">Dylan's activity</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" 
            href="plan.html">Dylan's plan</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" 
            href="details.html">Dylan's details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="sentence.html">Dylan's sentence</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Dylan's activity</h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Summary up to and including 1 September 2021
      </h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <!--NO TIME ARRANGED-->
        <div class="govuk-panel govuk-panel--appointment-timeline">
          <h1 class="govuk-panel__body" style="margin-top: 0px;"><strong>
           Arranged office and home visits</strong>
          </h1>
          <div class="govuk-panel__title">
            3
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <!--NO TIME ARRANGED-->
        <div class="govuk-panel govuk-panel--appointment-timeline">
          <h1 class="govuk-panel__body" style="margin-top: 0px;"><strong>
           Arranged phone and video calls</strong>
          </h1>
          <div class="govuk-panel__title">
            6
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <!--NO TIME ARRANGED-->
        <div class="govuk-panel govuk-panel--appointment-timeline">
          <h1 class="govuk-panel__body" style="margin-top: 0px;"><strong>
           Attempted contact</strong>
          </h1>
          <div class="govuk-panel__title">
            1
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <!--NO TIME ARRANGED-->
        <div class="govuk-panel govuk-panel--appointment-timeline">
          <h1 class="govuk-panel__body" style="margin-top: 0px;"><strong>
           Third party communication</strong>
          </h1>
          <div class="govuk-panel__title">
            12
          </div>
        </div>
      </div>
    </div>
    </div>

    </div>
  </div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <div class="govuk-!-margin-bottom-7">

    <div class="moj-timeline">
      <div class="moj-timeline__item">
      
        <div class="moj-timeline__header">
          <a href="timeline-add" class="govuk-button govuk-button" data-module="govuk-button" style="margin-bottom: 0;">
            Add activity
          </a>
    
    </h2>
        </div>
        
        <div class="moj-timeline__description">
        </div>
        
        </div>
      <div class="moj-timeline__item">
      
      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Arranged office visit</h2>
      
        <p class="moj-timeline__byline">by Mark Berridge</p>
      
      </div>
      
      <p class="moj-timeline__date">
        <time datetime="2019-06-14T14:01:00.000Z">31 August 2021 at 1:00pm</time>
      </p>
      
      <div class="moj-timeline__description">
        <a href="attendance-add" class="govuk-button govuk-button--secondary">Complete attendance</a>
      </div>
      
      </div>
      
      <div class="moj-timeline__item">
      
      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Arranged phone call</h2>
      
        <p class="moj-timeline__byline">by Mark Berridge</p>
      
      </div>
      
      <p class="moj-timeline__date">
        <time datetime="2019-06-07T12:32:00.000Z">25 August at 13:00pm</time>
      </p>
      
      <div class="moj-timeline__description">
        <p>The shoes had been there for as long as anyone could remember. In fact, it was difficult for anyone to come up with a date they had first appeared. It had seemed they'd always been there and yet they seemed so out of place. Why nobody had removed them was a question that had been asked time and again, but while they all thought it, nobody had ever found the energy to actually do it. So, the shoes remained on the steps, out of place in one sense, but perfectly normal in another.</p>
        <a href="timeline-entry">View full entry</a></div>
      
      </div>
       
      <div class="moj-timeline__item">
      
      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Third party communication</h2>
      
        <p class="moj-timeline__byline">by Mark Berridge</p>
      
      </div>
      
      <p class="moj-timeline__date">
        <time datetime="2019-05-28T10:15:00.000Z">25 August 2021 at 10:15am</time>
      </p>
      
      <div class="moj-timeline__description">
        <ul class="moj-timeline__documents">
          <li class="moj-timeline__document-item">
            <a class="moj-timeline__document-link" href="#">Induction pack</a>
          </li>
          <li class="moj-timeline__document-item">
            <a class="moj-timeline__document-link" href="#">Email to social worker</a>
          </li>
        </ul>
      </div>
      
      </div>
    
      </div>
      </div>

  </div>

<div class="govuk-grid-column-one-third">

</div>      
    {% endblock %}