{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v4/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="timeline" class="govuk-back-link">Back to Dylan's activity</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Add an activity</h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="timeline-confirm" method="post" class="form">

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold" for="case-note-description">
          Additional information
        </label>
        <div id="event-name-hint" class="govuk-hint">
          You can use the CRISS model if appropriate
        </div>
        <textarea class="govuk-textarea" rows="10" style="max-width:none;"></textarea>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold" for="case-note-description">
          Upload files
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint">
      </div>

      <div id="more-detail-hint" class="govuk-hint govuk-!-margin-bottom-7">
        This will be added to the nDelius contact log.
      </div>

      <!-- <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                Counts towards Rehabilitation Activity Requirement (RAR)
              </label>
            </div>
          </div>
        </fieldset>
      </div> -->

      <button class="govuk-button send-message">
        Add activity
      </button>
    </form>
  </div>

  <div class="govuk-grid-column-one-third">
    
  </div>
  
</div>

{% endblock %}