{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v4/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="case-list" class="govuk-back-link">Back to my cases</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="progress.html">Dylan's progress</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="timeline.html">Dylan's sessions</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" 
            href="plan.html">Dylan's plan</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" 
            href="details.html">Dylan's details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="sentence.html">Dylan's sentence</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Dylan's sessions</h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <div class="govuk-!-margin-bottom-7">
    <h2 class="govuk-heading-m">
      Session to do list
    </h2>
    <!--CARD START-->

    <ul class="govuk-grid-row card-group">

      <li class="govuk-grid-column-full card-group__item">
        <div class="card card--clickable" data-test="">
          <h2 class="govuk-heading-s card__heading">
            <a class="govuk-link card__link" href="attendance-add">Confirm attendance</a>
          </h2>
          <p class="govuk-body card__description" style="text-decoration: none!important; border-bottom-style: none!important;">
            Office visit on 23 February 2021 at 1:00pm
          </p>
        </div>
      </li>
      <li class="govuk-grid-column-full card-group__item">
        <div class="card card--clickable" data-test="">
          <h2 class="govuk-heading-s card__heading">
            <a class="govuk-link card__link" href="notes-add">Add session notes</a>
          </h2>
          <p class="govuk-body card__description" style="text-decoration: none!important; border-bottom-style: none!important;">
            Office visit on 23 February 2021 at 1:00pm
          </p>
        </div>
      </li>
  
    </ul>
    <!--CARD END-->
  </div>


  <h2 class="govuk-heading-m">
    Next session
  </h2>

  <div class="govuk-!-margin-bottom-9">
    <div class="govuk-panel govuk-panel--appointment">
      <div class="govuk-panel__body">
        <strong>Wednesday 23 February from 1pm to 2pm</strong><br>
        Office visit<br><br>
        <a href="appointment-update" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-bottom: 0;">
          Rearrange time with Dylan
        </a>
      </div>
    </div>
  </div>


    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Past sessions
      </h2>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View summary
          </span>
        </summary>
        
        <div style="margin-top: 20px;">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <!--NO TIME ARRANGED-->
            <div class="govuk-panel govuk-panel--appointment-timeline">
              <h1 class="govuk-panel__small" style="margin-top: 0px;"><strong>
              Office and home visits</strong>
              </h1>
              <div class="govuk-panel__title">
                3
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <!--NO TIME ARRANGED-->
            <div class="govuk-panel govuk-panel--appointment-timeline">
              <h1 class="govuk-panel__small" style="margin-top: 0px;"><strong>
              Phone and video calls</strong>
              </h1>
              <div class="govuk-panel__title">
                6
              </div>
            </div>
          </div>

          <div class="govuk-grid-column-one-quarter">
            <!--NO TIME ARRANGED-->
            <div class="govuk-panel govuk-panel--appointment-timeline">
              <h1 class="govuk-panel__small" style="margin-top: 0px;"><strong>
              Email and text messages</strong>
              </h1>
              <div class="govuk-panel__title">
                10
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <!--NO TIME ARRANGED-->
            <div class="govuk-panel govuk-panel--appointment-timeline">
              <h1 class="govuk-panel__small" style="margin-top: 0px;"><strong>
              Communication with others</strong>
              </h1>
              <div class="govuk-panel__title">
                12
              </div>
            </div>
          </div>
        </div>
        </div>

      </details>

    <div class="moj-timeline">

      <div class="moj-timeline__item">
      
      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Office visit</h2>
      
        <p class="moj-timeline__byline">by Mark Berridge
        </p>
      
      </div>
      
      <p class="moj-timeline__date">
        <time datetime="2019-06-14T14:01:00.000Z">23 February 2021 at 1:00pm</time>
      </p>

      <div class="moj-timeline__description">
        <div class="moj-banner moj-banner--warning">

          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
          <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z" /></svg>
          
          <div class="moj-banner__message">
          <span class="moj-banner__assistive">Warning</span>Attendance not confirmed.    <a href="attendance-add.html">Confirm attendance</a></div>
          
          </div> 
     
        </p>
      </div>
    
      </div>
      
      <div class="moj-timeline__item">
      
      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Phone call</h2>
      
        <p class="moj-timeline__byline">by Mark Berridge
          &NonBreakingSpace;<strong class="govuk-tag govuk-tag--green">
            Complied
          </strong>
        </p>
      
      </div>
      
      <p class="moj-timeline__date">
        <time datetime="2019-06-07T12:32:00.000Z">21 February at 13:00pm</time>
      </p>
      
      <div class="moj-timeline__description">
        <div class="note-panel">
          <p>The shoes had been there for as long as anyone could remember. In fact, it was difficult for anyone to come up with a date they had first appeared. It had seemed they'd always been there and yet they seemed so out of place. Why nobody had removed them was a question that had been asked time and again, but while they all thought it, nobody had ever found the energy to actually do it. So, the shoes remained on the steps, out of place in one sense, but perfectly normal in another.</p>
        <a href="timeline-entry">View full details</a>
      </div>
      </div>
      
      </div>
       
      <div class="moj-timeline__item">
      
      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Communication with a third party</h2>
      
        <p class="moj-timeline__byline">by Mark Berridge</p>
      
      </div>
      
      <p class="moj-timeline__date">
        <time datetime="2019-05-28T10:15:00.000Z">20 February 2021 at 10:15am</time>
      </p>
      
      <div class="moj-timeline__description">
        <div class="note-panel">
          <ul class="moj-timeline__documents">
            <li class="moj-timeline__document-item">
              <a class="moj-timeline__document-link" href="#">Induction pack</a>
            </li>
            <li class="moj-timeline__document-item">
              <a class="moj-timeline__document-link" href="#">Email to social worker</a>
            </li>
          </ul>
        </div>
      </div>
      
      </div>
    
      </div>
      
      </div>

  </div>

<div class="govuk-grid-column-one-third">

<!--TIME ARRANGED-->

  <h2 class="govuk-heading-m">
    Actions
  </h2>
  <p class="govuk-body">
    <a href="appointment-add" class="govuk-button govuk-button" data-module="govuk-button" style="margin-bottom: 0;">
      Arrange time with Dylan
    </a>
    <p class="govuk-body">
      <a href="document-add">Upload a document</a>
    </p>
    <p class="govuk-body">
      <a href="note-add">Add a note</a>
    </p>

  </div>

</div>      
    {% endblock %}