{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v4/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="progress" class="govuk-back-link">Back to Dylan's progress</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Dylan's timeline</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Summary up to and including 1 September 2021
      </h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <!--NO TIME ARRANGED-->
        <div class="govuk-panel govuk-panel--appointment-timeline">
          <h1 class="govuk-panel__body" style="margin-top: 0px;"><strong>
           Office and home visits</strong>
          </h1>
          <div class="govuk-panel__title">
            3
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <!--NO TIME ARRANGED-->
        <div class="govuk-panel govuk-panel--appointment-timeline">
          <h1 class="govuk-panel__body" style="margin-top: 0px;"><strong>
           Phone and video calls</strong>
          </h1>
          <div class="govuk-panel__title">
            6
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <!--NO TIME ARRANGED-->
        <div class="govuk-panel govuk-panel--appointment-timeline">
          <h1 class="govuk-panel__body" style="margin-top: 0px;"><strong>
           Third party communication</strong>
          </h1>
          <div class="govuk-panel__title">
            12
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="govuk-!-margin-bottom-7">

    <div class="moj-timeline">
      <div class="moj-timeline__item">
      
        <div class="moj-timeline__header">
          <a href="timeline-add" class="govuk-button govuk-button" data-module="govuk-button" style="margin-bottom: 0;">
            Add to timeline
          </a>
    
    </h2>
        </div>
        
        <div class="moj-timeline__description">
        </div>
        
        </div>
      <div class="moj-timeline__item">
      
      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Planned office visit</h2>
      
        <p class="moj-timeline__byline">by Mark Berridge</p>
      
      </div>
      
      <p class="moj-timeline__date">
        <time datetime="2019-06-14T14:01:00.000Z">31 August 2021 at 1:00pm</time>
      </p>
      
      <div class="moj-timeline__description">
        <p>I'm meant to be writing at this moment. What I mean is, I'm meant to be writing something else at this moment. The document I'm meant to be writing is, of course, open in another program on my computer and is patiently awaiting my attention. Yet here I am plonking down senseless sentiments in this paragraph because it's easier to do than to work on anything particularly meaningful. I am grateful for the distraction.</p>
        <a href="#">View full entry</a>
      </div>
      
      </div>
      
      <div class="moj-timeline__item">
      
      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Phone call</h2>
      
        <p class="moj-timeline__byline">by Mark Berridge</p>
      
      </div>
      
      <p class="moj-timeline__date">
        <time datetime="2019-06-07T12:32:00.000Z">25 August at 13:00pm</time>
      </p>
      
      <div class="moj-timeline__description">
        <p>The shoes had been there for as long as anyone could remember. In fact, it was difficult for anyone to come up with a date they had first appeared. It had seemed they'd always been there and yet they seemed so out of place. Why nobody had removed them was a question that had been asked time and again, but while they all thought it, nobody had ever found the energy to actually do it. So, the shoes remained on the steps, out of place in one sense, but perfectly normal in another.</p>
        <a href="#">View full entry</a></div>
      
      </div>
       
      <div class="moj-timeline__item">
      
      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Documents uploaded</h2>
      
        <p class="moj-timeline__byline">by Mark Berridge</p>
      
      </div>
      
      <p class="moj-timeline__date">
        <time datetime="2019-05-28T10:15:00.000Z">25 August 2021 at 10:15am</time>
      </p>
      
      <div class="moj-timeline__description">
        <ul class="moj-timeline__documents">
          <li class="moj-timeline__document-item">
            <a class="moj-timeline__document-link" href="#">Induction pack</a>
          </li>
          <li class="moj-timeline__document-item">
            <a class="moj-timeline__document-link" href="#">Email to social worker</a>
          </li>
        </ul>
      </div>
      
      </div>
    
      </div>
      </div>

  </div>

<div class="govuk-grid-column-one-third">

</div>      
    {% endblock %}