{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v4/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="progress" class="govuk-back-link">Back to Dylan's progress</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="timeline-add-2" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Does this relate to time you arranged with Dylan?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="repeat-app-1" name="repeat-app" type="radio"
                  value="wales" data-aria-controls="recurring-appointment">
                <label class="govuk-label govuk-radios__label" for="repeat-app-1">
                  Yes
                </label>
              </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="repeat-app-2" name="repeat-app" type="radio"
                value="wales" data-aria-controls="single-appointment">
              <label class="govuk-label govuk-radios__label" for="repeat-app">
                No
              </label>
            </div>
          </div>
      </div>
      </fieldset>
      </div>

      <button class="govuk-button send-message">
        Save and continue
      </button>
    </form>
  </div>

  <div class="govuk-grid-column-one-third">
    
  </div>
  
</div>

{% endblock %}