{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v4/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="case-list" class="govuk-back-link">Back to my cases</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="progress.html">Progress</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="to-do-list.html">To do list</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" 
            href="plan.html">Plan</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="timeline.html">Previous sessions</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" 
            href="details.html">Personal details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="sentence.html">Sentence</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">To do list for Dylan</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <div class="govuk-!-margin-bottom-7">
    <!--CARD START-->

    <ul class="govuk-grid-row card-group">

      <li class="govuk-grid-column-full card-group__item">
        <div class="card card--clickable" data-test="">
          <h2 class="govuk-heading-s card__heading">
            <a class="govuk-link card__link" href="attendance-add">Confirm attendance</a>
          </h2>
          <p class="govuk-body card__description" style="text-decoration: none!important; border-bottom-style: none!important;">
            Office visit on 23 February 2021 at 1:00pm
          </p>
        </div>
      </li>
      <li class="govuk-grid-column-full card-group__item">
        <div class="card card--clickable" data-test="">
          <h2 class="govuk-heading-s card__heading">
            <a class="govuk-link card__link" href="notes-add">Add session notes</a>
          </h2>
          <p class="govuk-body card__description" style="text-decoration: none!important; border-bottom-style: none!important;">
            Office visit on 23 February 2021 at 1:00pm
          </p>
        </div>
      </li>
  
    </ul>
    <!--CARD END-->
  </div>

  </div>

<div class="govuk-grid-column-one-third">

</div>      
    {% endblock %}