{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v5/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="progress" class="govuk-back-link">Back to Dylan's progress</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="appointment-update-2" method="post" class="form">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
          Why are you rearranging this session?
        </label>
        </h1>
        <input class="govuk-input" id="event-name" name="event-name" type="text">
      </div>

      <div style="display:flex;">
        <button class="govuk-button send-message">
          Save and continue
        </button>
      </div>
        <p class="govuk-body">
          <a style="color:	#d4351c; text-decoration: underline;" href="appointment-delete">Delete session</a>
      </p>
    </form>
  </div>

</div>

{% endblock %}