{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v5/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="progress" class="govuk-back-link">Back to Dylan's progress</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="appointment-update-6" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Would you like to count this session towards Rehabilitation Activity Requirement (RAR)?
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="contact-2">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <div class="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                            Employment, Training and Education
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                          <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                            Wellbeing – both physical and mental
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                          <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                            Finance, benefit and debt
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                          <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                            Relationships
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="where-do-you-live-5" name="where-do-you-live" type="radio" value="northern-ireland">
                          <label class="govuk-label govuk-radios__label" for="where-do-you-live-5">
                            Restorative Justice Interventions
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="where-do-you-live-6" name="where-do-you-live" type="radio" value="northern-ireland">
                          <label class="govuk-label govuk-radios__label" for="where-do-you-live-6">
                            Substance Misuse
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="where-do-you-live-7" name="where-do-you-live" type="radio" value="northern-ireland">
                          <label class="govuk-label govuk-radios__label" for="where-do-you-live-7">
                            Alcohol Treatment Requirements or Mental Health Treatment Requirements
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="where-do-you-live-8" name="where-do-you-live" type="radio" value="northern-ireland">
                          <label class="govuk-label govuk-radios__label" for="where-do-you-live-8">
                            Thinking skills, attitudes and behaviour
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact" checked>
                    <label class="govuk-label govuk-radios__label" for="contact">
                      No
                    </label>
                  </div>
              </div>
          
            </fieldset>
          </div>

            <button class="govuk-button send-message">
                Save and continue
            </button>
        </form>
    </div>
</div>

{% endblock %}