{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v5/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="timeline" class="govuk-back-link">Back to Dylan's previous sessions</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="attendance-add-7" method="post" class="form">

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--l" for="event-name">
                Add session notes
              </label>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    You can use the CRISS format to write session notes
                  </span>
                </summary>
                <div class="govuk-details__text">
                <p class="govuk-body"><strong>Check-in</strong></p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>What has happened in their life since the previous session?</li>
                  <li>Clarify role boundaries and assess any change in risk</li>
                </ul>
                <p class="govuk-body"><strong>Review</strong></p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Review previous sessions and tasks</li>
                </ul>
                <p class="govuk-body"><strong>Implement</strong></p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Progress against the sentence plan</li>
                </ul>
                <p class="govuk-body"><strong>Summarise</strong></p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Summarise purpose of session</li>
                </ul>
                <p class="govuk-body"><strong>Set tasks</strong></p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Set and agree tasks for both of you</li>
                  <li>Confirm next session</li>
                </ul>
                </div>
              </details>
                <textarea class="govuk-textarea" rows="10" style="max-width:none;"></textarea>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="case-note-description">
                  Upload files
                </label>
                <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint">
              </div>
        

              <div style="display:flex;">
                <button class="govuk-button send-message">
                 Save and continue
                </button>
              </div>
                <p class="govuk-hint">
                  This will be added to the nDelius contact log.              
                </p>
        </form>
    </div>
</div>

{% endblock %}