{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v5/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="timeline" class="govuk-back-link">Back to Dylan's progress</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Compliance confirmed
          </h1>
          <div class="govuk-panel__body">
            <br>Thursday 11 February at 1:00 pm
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-fieldset__heading">
        Next steps
      </h2>
      <div id="event-name-hint" class="govuk-hint" style="margin-top:5px ;">
        What would you like to do?
        </div>
    </legend>
  <div class="moj-button-menu">
    <div class="moj-button-menu__wrapper">
    
    <a href="notes-add" role="button" draggable="false" class="govuk-button moj-button-menu__item  " data-module="govuk-button">
      Add session note
    </a>
  
    <a href="/new-service-user/v5/appointment-add" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
      Arrange next session
    </a>
    <br>
  <br>
  <div style="margin-top: 20px;">
    <a class="govuk-body" href="progress">Back to Dylan's progress</a>
  </div>
    </div>
    </div> 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="attendance-add-7" method="post" class="form">

           
        </form>
    </div>
</div>

{% endblock %}