{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v5/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="timeline" class="govuk-back-link">Back to Dylan's previous sessions</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/new-service-user/v4/attendance-add-6" method="post" class="form">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading">
              Would you like to add notes about this session?
            </h2>
            <div id="event-name-hint" class="govuk-hint">
              Notes can also be added later
              </div>
          </legend>
          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="session-notes-yes" name="session-notes" type="radio" value="true">
              <label class="govuk-label govuk-radios__label" for="session-notes-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="session-notes-no" name="session-notes" type="radio" value="false">
              <label class="govuk-label govuk-radios__label" for="session-notes-no">
                No
              </label>
            </div>
          </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
            Save and continue
        </button>

      </form>

    </div>
</div>

{% endblock %}