{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v5/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="timeline" class="govuk-back-link">Back to Dylan's previous sessions</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="attendance-add-5" method="post" class="form">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      How was Dylan compared to the last session?
                    </h1>
                  </legend>
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                      <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                        Better
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="wales">
                      <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                        Worse
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                      <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                        The same
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

            <button class="govuk-button send-message">
                Save and continue
            </button>
        </form>
    </div>
</div>

{% endblock %}