<h3 class="govuk-body govuk-!-font-size-19">
  <a class="govuk-!-font-weight-bold govuk-!-margin-right-2" href="#">
    {{ entry['type-of-session'] }}
  </a>

  {% if entry['session-counts-towards-rar'] === 'Yes' %}
    {{ govukTag({text: 'RAR', classes: 'govuk-tag--purple'}) }}
  {% endif %}


  {% if entry['did-service-user-comply'] === 'Yes' %}
    {{ govukTag({text: 'Complied', classes: 'govuk-tag--green'}) }}
  {% elseif entry['did-service-user-comply'] === 'No' %}
    {{ govukTag({text: 'Failed to comply', classes: 'govuk-tag--red'}) }}
  {% elseif entry['did-service-user-comply'] === 'Absent' %}
    {{ govukTag({text: 'Absent', classes: 'govuk-tag--red'}) }}
  {% endif %}
  <br>

  {{ entry['session-date'] | dateWithYear }} from {{ entry['session-start-time'] }} to {{ entry['session-end-time'] }}
  {% if entry.repeat === 'Yes' %}
    {{ govukTag({text: 'Repeat', classes: 'govuk-tag--turquoise'}) }}
  {% endif %}
</h3>

{{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: "With"
      },
      value: {
        text: entry.lastUpdatedBy
      }
    },
    {
      key: {
        text: "RAR"
      },
      value: {
        text: entry['session-rar-category']
      }
    } if entry['session-counts-towards-rar'] == 'Yes'
  ]
}) }}

{% set hasAttendanceAlreadyBeenConfirmed = not not entry['did-service-user-comply'] %}
{% set hasAppointmentTimePassed = isInThePast({date: entry['session-date'], time: entry['session-end-time']}) %}
{% set shouldPromptToConfirmAttendance = (not hasAttendanceAlreadyBeenConfirmed) and hasAppointmentTimePassed %}

{% if entry['session-notes'] or shouldPromptToConfirmAttendance %}
  <div class="note-panel">
    {% if shouldPromptToConfirmAttendance  %}
      {{ appWarningBanner('Attendance not confirmed. <a href="/confirm-attendance/' + CRN + '/' + entry.sessionId + '">Confirm attendance</a>') }}
    {% endif %}

    {% set truncatedContents = entry['session-notes'] | truncate(300) %}
    {% set isTruncated = entry['session-notes'] and (truncatedContents !== entry['session-notes']) %}
    <p class="govuk-body {{ 'govuk-!-margin-bottom-0' if not isTruncated }}">{{ truncatedContents | nl2br | safe }}</p>
    {% if isTruncated %}
      <a href="#">View full details</a>
    {% endif %}
  </div>
{% endif %}
