{% set alias = case.serviceUserPersonalDetails.aliases[0] %}
{% set name = case.serviceUserPersonalDetails.name + " (" + alias + ")" if alias else case.serviceUserPersonalDetails.name %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-4">{{ name }}</h1>

<p>
  <span class="govuk-tag govuk-tag--red govuk-!-margin-right-2">Risk to themselves</span>
  <span class="govuk-tag govuk-tag--red">Risk to children</span>
</p>

<dl class="app-card__meta-list">
  <div class="app-card__meta-list-item">
    <dt class="app-card__meta-list-key">
      CRN
    </dt>
    <dd class="app-card__meta-list-value">
      J678910
    </dd>
  </div>
  <div class="app-card__meta-list-item">
    <dt class="app-card__meta-list-key">
      PNC
    </dt>
    <dd class="app-card__meta-list-value">
      2012/123400000F
    </dd>
  </div>
  <div class="app-card__meta-list-item">
    <dt class="app-card__meta-list-key">
      Date of birth
    </dt>
    <dd class="app-card__meta-list-value">
      27 Sep 1984 (Age 36)
    </dd>
  </div>
</dl>

