<div class="moj-timeline__description govuk-!-margin-bottom-7">
  <div class="note-panel">
    <ul class="moj-timeline__documents">
      {% for doc in documents %}
      <li class="moj-timeline__document-item" style="margin-bottom: 20px;">
        <a class="moj-timeline__document-link" href="#"><strong>{{ doc.name }}</strong></a><br>
        <span style="padding-left: 25px;">
          {% if doc.lastUpdateDate %}
            Last updated {{ doc.lastUpdateDate | dateWithYearShortMonth }}
          {% else %}
            <span class="govuk-hint-s">Unavailable</span>
          {% endif %}
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
