<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            {% if currentNavSection == 'progress' %}
            aria-current="page"
            {% endif %}
            href="/cases/{{ CRN }}">Progress</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            {% if currentNavSection == 'plan' %}
            aria-current="page"
            {% endif %}
            href="/cases/{{ CRN }}/plan">Plan</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            {% if currentNavSection == 'timeline' %}
            aria-current="page"
            {% endif %}
            href="/cases/{{ CRN }}/timeline">Previous sessions</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            {% if currentNavSection == 'details' %}
            aria-current="page"
            {% endif %}
            href="/cases/{{ CRN }}/details">Personal details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            {% if currentNavSection == 'sentence' %}
            aria-current="page"
            {% endif %}
            href="/cases/{{ CRN }}/sentence">Sentence</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
