{% extends "layout.html" %}
{% set entry = data['communication'][CRN][sessionId] %}
{% set title = entry['type-of-session'] + ' details' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

{% include "case/_case-service-user-banner.html" %}

{{ govukBackLink({
  text: "Back to communication",
  href: "/cases/" + CRN + "/communication"
}) }}

{% set caption = 'Previous appointment' if isInThePast({date: entry['session-date'], time: entry['session-end-time']}) else 'Upcoming appointment' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
      <span class="govuk-caption-l">{{ caption }}</span>
      {{ entry['type-of-session'] }}

      {% if entry['session-counts-towards-rar'] === 'Yes' %}
        {{ govukTag({text: 'RAR', classes: 'govuk-tag--purple'}) }}
      {% endif %}

      {% if entry['did-service-user-comply'] === 'Yes' %}
        {{ govukTag({text: 'Complied', classes: 'govuk-tag--green'}) }}
      {% elseif entry['did-service-user-comply'] === 'No' %}
        {{ govukTag({text: 'Failed to comply', classes: 'govuk-tag--red'}) }}
      {% elseif entry['did-service-user-comply'] === 'Absent' %}
        {{ govukTag({text: 'Absent', classes: 'govuk-tag--red'}) }}
      {% endif %}
    </h1>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-6">
      {{ entry['session-date'] | dateWithYear }} from {{ entry['session-start-time'] }} to {{ entry['session-end-time'] }}
      {% if entry.repeat === 'Yes' %}
        {{ govukTag({text: 'Repeat', classes: 'govuk-tag--turquoise'}) }}
      {% endif %}
    </h2>

    {% set isOutcomeRecorded = (not not entry['did-service-user-comply'] ) %}
    {% if isOutcomeRecorded %}
      <h3 class="govuk-heading-s">Outcome details</h3>

      {% include 'confirm-attendance/_outcome-details.html' %}
    {% endif %}

    <h3 class="govuk-heading-s">Appointment details</h3>

    {% set showAction = false %}
    {% set hideNotes = isOutcomeRecorded %}
    {% include 'arrange-a-session/_session-details.html' %}

    <p class="govuk-body-s govuk-hint-s">Last updated by {{ entry.lastUpdatedBy }} on {{ entry.timestamp | dateWithYear }} at {{ entry.timestamp | govukTimeWithMinutes }}</p>
  </div>
</div>

{% endblock %}
