{% extends "layout.html" %}
{% set title = 'Communication' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

{% include "case/_case-service-user-banner.html" %}

{% set currentNavSection = 'timeline' %}
{% include "case/_case-nav.html" %}

{% set categoryLabel %}
  {% if category === 'upcoming' %}
    Upcoming appointments
  {% elif category === 'previous' %}
    Previous appointments
  {% elif category === 'other' %}
    Other communication
  {% else %}
    All communication
  {% endif %}
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ title }}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">Categories</h3>

    <p class="govuk-body">
      <ul class="govuk-list">
        <li>
          {% if category %}
            <a class="govuk-link--no-visited-state" href="/cases/{{ CRN }}/communication">All communications</a>
          {% else %}
            <strong>All communication</strong>
          {% endif %}
        </li>

        <li>
          <ul class="govuk-list govuk-!-margin-left-2">
            <li>
              {% if category === 'upcoming' %}
                <strong>Upcoming appointments</strong>
              {% else %}
                <a class="govuk-link--no-visited-state" href="/cases/{{ CRN }}/communication/upcoming">Upcoming appointments</a>
              {% endif %}
            </li>
            <li>
              {% if category === 'previous' %}
                <strong>Previous appointments</strong>
              {% else %}
                <a class="govuk-link--no-visited-state" href="/cases/{{ CRN }}/communication/previous">Previous appointments</a>
              {% endif %}
            </li>
            <li>
              {% if category === 'other' %}
                <strong>Other communication</strong>
              {% else %}
                <a class="govuk-link--no-visited-state" href="/cases/{{ CRN }}/communication/other">Other communication</a>
              {% endif %}
            </li>
          </ul>
        </li>
      </ul>
    </p>
  </div>

  <div class="govuk-grid-column-two-thirds">
    {% set entries = communicationEntries(CRN, data, {category: category}) %}
    <p class="govuk-body">
      <span class="govuk-!-font-size-27 govuk-!-font-weight-bold">{{ entries | length }}</span> {{ 'result' if entries | length == 1 else 'results' }} found in <strong>{{ categoryLabel }}</strong>
    </p>

    {% set hr = joiner('<hr>') %}
    {% for entry in communicationEntries(CRN, data, {category: category}) %}

      {{ hr() | safe }}

      {% if entry.type === 'Appointment' %}
        {% include "case/_appointment-timeline-entry.html" %}
      {% elseif entry.type === 'Text message' or entry.type === 'Email' %}
        {% include "case/_communication-timeline-entry.html" %}
      {% endif %}

      <p class="govuk-body-s govuk-hint-s">Last updated by {{ entry.lastUpdatedBy }} on {{ entry.timestamp | dateWithYear }} at {{ entry.timestamp | govukTimeWithMinutes }}</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
