{% extends "layout.html" %}
{% set title = 'Contacts and personal details' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% set alias = case.serviceUserPersonalDetails.aliases[0] %}
{% set name = case.serviceUserPersonalDetails.name + " (" + alias + ")" if alias else case.serviceUserPersonalDetails.name %}
{% block pageNavigation %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Cases",
      href: "/cases"
    },
    {
      text: name,
      href: "/cases/" + CRN
    },
    {
      text: title
    }
  ]
  }) }}
{% endblock %}

{% block content %}

{% include "case/_case-service-user-banner.html" %}

{% set currentNavSection = 'details' %}
{% include "case/_case-nav.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Contacts and personal details</h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Contact details
      </h2>

      {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
      {
      key: { text: "Address" },
      value: { html: case.serviceUserPersonalDetails.address.join('<br>') }
      },
      {
      key: { text: "Phone number" },
      value: { text: case.serviceUserPersonalDetails.phone }
      },
      {
      key: { text: "Email" },
      value: { text: case.serviceUserPersonalDetails.email }
      }
      ]
      }) }}

      <p class="govuk-body">
        <a href="/cases/{{ CRN }}/address-book-personal">
          View address book
        </a>
      </p>
      <p class="govuk-body-s govuk-hint-s">
        Last updated 15 March 2021
      </p>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Personal details
      </h2>

      {% set dateOfBirthAndAge %}
      {{ case.serviceUserPersonalDetails.dateOfBirth | dateWithYear }} ({{ case.serviceUserPersonalDetails.age }} years
      old)
      {% endset %}

      {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
      {
      key: { text: "Name" },
      value: { text: case.serviceUserPersonalDetails.name }
      },
      {
      key: { text: "Aliases" },
      value: { text: case.serviceUserPersonalDetails.aliases.join(', ') }
      },
      {
      key: { text: "Date of birth" },
      value: { text: dateOfBirthAndAge }
      },
      {
      key: { text: "Preferred language" },
      value: { text: case.serviceUserPersonalDetails.preferredLanguage }
      },
      {
      key: { text: "Disabilities and adjustments" },
      value: { text: case.serviceUserPersonalDetails.disabilitiesAndAdjustments.join(', ') }
      }
      ]
      }) }}

      <p class="govuk-body">
        <a href="personal-details">
          View more personal details
        </a>
      </p>
      <p class="govuk-body-s govuk-hint-s">
        Last updated 6 January 2021
      </p>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Circumstances
      </h2>

      {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
      {
      key: { text: "Employment status" },
      value: { text: case.serviceUserPersonalDetails.circumstances.employment }
      },
      {
      key: { text: "Housing status" },
      value: { text: case.serviceUserPersonalDetails.circumstances.housingStatus }
      },
      {
      key: { text: "Safeguarding issues" },
      value: { text: case.serviceUserPersonalDetails.circumstances.safeguardingIssues.join(', ') or 'None' }
      }
      ]
      }) }}

      <p class="govuk-body">
        <a href="#">
          View more circumstances
        </a>
      </p>
      <p class="govuk-body-s govuk-hint-s">
        Last updated 10 March 2021
      </p>
    </div>

  </div>


  <div class="govuk-grid-column-one-third">

    <h2 class="govuk-heading-m">
      Personal documents</h2>

    <div class="moj-timeline__description">
      <div class="note-panel">
        <ul class="moj-timeline__documents">
          <li class="moj-timeline__document-item">
            <a class="moj-timeline__document-link" href="#"><strong>Induction pack</strong></a><br>
            <span style="padding-left: 25px;">Last updated 3 Dec 2020</span>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>

{% endblock %}
