{% extends "layout.html" %}
{% set title = name %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

{% include "case/_case-service-user-banner.html" %}

{% set currentNavSection = 'quick-look' %}
{% include "case/_case-nav.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Quick look</h1>

    <h2 class="govuk-heading-m">
      Sentence
    </h2>

    <div class="app-card govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
        <a href="/cases/{{ CRN }}/sentence">{{ case.currentOrder.type }}</a>
      </h3>

      <p>
        {{ case.currentOrder.progressInMonths }} months elapsed (of {{ case.currentOrder.lengthInMonths }} months)
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
        <a href="#">Rehabilitation activity requirement</a>
      </h3>
      <p class="govuk-!-margin-bottom-0">
        {{ case.currentOrder.requirements.rar.progressInDays }} days completed (of {{ case.currentOrder.requirements.rar.lengthInDays }} days)
      </p>
    </div>

    <h2 class="govuk-heading-m">
      Risk of harm
    </h2>

    <p>
      Risk to known adults, children, staff, and/or the public (ROSH)
      <span class="govuk-tag govuk-tag--red govuk-!-margin-left-2">{{ case.riskIndicators[0].value }}</span>
    </p>

    {% set riskTable %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Risk to</th>
          <th class="govuk-table__header">In community</th>
          <th class="govuk-table__header">In custody</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for risks in case.riskOfHarm %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ risks.riskTo }}</td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--{{ risks.inCommunity.class }}">{{ risks.inCommunity.text }}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--{{ risks.inCustody.class }}">{{ risks.inCustody.text }}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endset %}

    {{ govukDetails({
      summaryText: "View those at risk",
      html: riskTable
    }) }}

    <h2 class="govuk-heading-m">
      Criminogenic needs
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      {% for need in case.criminogenicNeeds %}
        <li>{{ need }}</li>
      {% endfor %}
    </ul>

    <p>
      <a href="#">View sentence plan</a>
    </p>

    <h2 class="govuk-heading-m">
      Recent case activity
    </h2>

    <div class="moj-timeline">
      {% for entry in case.contactHistory %}
        {% if loop.index < 3 %}
          {% if entry.outcome %}
            {% set tagText = 'Comply' if entry.outcome.comply else 'Failed to comply' %}
            {% set tagColour = 'green' if entry.outcome.comply else 'red' %}
          {% else %}
            {% set tagText = null %}
            {% set tagColour = null %}
          {% endif %}

          {% if entry.contents %}
            {% set truncatedContents = entry.contents | truncate(300) %}
            {% set isTruncated = (truncatedContents !== entry.contents) %}
            {% set body %}
              <div class="note-panel">
                <p class="{{ 'govuk-!-margin-bottom-0' if not isTruncated }}">{{ truncatedContents | nl2br | safe }}</p>
                {% if isTruncated %}
                  <a href="#">View full details</a>
                {% endif %}
              </div>
            {% endset %}
          {% elseif entry.attachments %}
            {% set body %}
              <div class="note-panel">
                <ul class="moj-timeline__documents">
                  {% for attachment in entry.attachments %}
                    <li class="moj-timeline__document-item">
                      <a class="moj-timeline__document-link" href="#">{{ attachment }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endset %}
          {% elseif entry.type === 'Office visit' and not entry.outcome %}
            {% set body %}
              {{ appWarningBanner('Attendance not confirmed. <a href="/confirm-attendance/' + CRN + '/' + entry.sessionId + '">Confirm attendance</a>') }}
            {% endset %}
          {% endif %}

          {{ appTimelineItem({
              title: entry.type | replace('Service User', case.serviceUserPersonalDetails.firstName),
              time: entry.timestamp,
              author: entry.probationPractitioner,
              tagText: tagText,
              tagColour: tagColour,
              body: body})
             }}
        {% endif %}
      {% endfor %}
    </div>

    <p>
      <a href="/cases/{{ CRN }}/timeline">View all case activity</a>
    </p>
  </div>

  <div class="govuk-grid-column-one-third">

    <!--TIME ARRANGED-->
    <h2 class="govuk-heading-m">
      Actions
    </h2>
    <p class="govuk-body">
      <a href="/arrange-a-session/{{ CRN }}/start" class="govuk-button govuk-!-margin-bottom-0">
        Arrange a session
      </a>
    </p>

    <h2 class="govuk-heading-m">
      Next session
    </h2>
    <div class="app-card app-card--blue">
      {{ data['arrange-a-session'][CRN][123]['type-of-session'] }}<br>
      <strong>
        {{ data['arrange-a-session'][CRN][123]['session-date'] | dateWithDayAndWithoutYear }} from<br>
        {{ data['arrange-a-session'][CRN][123]['session-start-time'] }} to {{ data['arrange-a-session'][CRN][123]['session-end-time'] }}
      </strong>
      <a href="/arrange-a-session/{{ CRN }}/123/rearrange-or-cancel" class="govuk-button govuk-button--secondary govuk-!-margin-top-4"
        data-module="govuk-button" style="margin-bottom: 0;">
        Rearrange or cancel session
      </a>
    </div>
  </div>
</div>

{% endblock %}
