{% extends "layout.html" %}
{% set alias = case.serviceUserPersonalDetails.aliases[0] %}
{% set name = case.serviceUserPersonalDetails.name + " (" + alias + ")" if alias else case.serviceUserPersonalDetails.name %}
{% set title = name %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

{% include "case/_case-service-user-banner.html" %}

{% set currentNavSection = 'quick-look' %}
{% include "case/_case-nav.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Quick look</h1>

    <h2 class="govuk-heading-m">
      Sentence
    </h2>

    <div class="app-card govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
        <a href="/cases/{{ CRN }}/sentence">{{ case.currentOrder.type }}</a>
      </h3>

      <p>
        {{ case.currentOrder.progressInMonths }} months elapsed (of {{ case.currentOrder.lengthInMonths }} months)
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
        Rehabilitation activity requirement
      </h3>
      <p class="govuk-!-margin-bottom-0">
        {{ case.currentOrder.requirements.rar.progressInDays }} days completed (of {{ case.currentOrder.requirements.rar.lengthInDays }} days)
      </p>
    </div>

    <h2 class="govuk-heading-m">
      Risk of harm
    </h2>

    <p>
      Risk to known adults, children, staff, and/or the public (ROSH)
      <span class="govuk-tag govuk-tag--{{ case.riskOfSeriousHarmLevel.class }} govuk-!-margin-left-2">{{ case.riskOfSeriousHarmLevel.text }}</span>
    </p>

    {% set riskTable %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Risk to</th>
          <th class="govuk-table__header">In community</th>
          <th class="govuk-table__header">In custody</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for risks in case.riskOfHarm %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ risks.riskTo }}</td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--{{ risks.inCommunity.class }}">{{ risks.inCommunity.text }}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--{{ risks.inCustody.class }}">{{ risks.inCustody.text }}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endset %}

    {{ govukDetails({
      summaryText: "View those at risk",
      html: riskTable
    }) }}

    <h2 class="govuk-heading-m">
      Criminogenic needs
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      {% for need in case.criminogenicNeeds %}
        <li>{{ need }}</li>
      {% endfor %}
    </ul>

    <p>
      <a href="#">View sentence plan</a>
    </p>

  </div>

  <div class="govuk-grid-column-one-third">

    <!--TIME ARRANGED-->
    <h2 class="govuk-heading-m">
      Actions
    </h2>
    <p class="govuk-body">
      <a href="/arrange-a-session/{{ CRN }}/start" class="govuk-button govuk-!-margin-bottom-0">
        Arrange an appointment
      </a>
    </p>

    <h2 class="govuk-heading-m">
      Next appointment
    </h2>
    <div class="app-card app-card--blue govuk-!-margin-bottom-3">
      {{ data['arrange-a-session'][CRN][123]['type-of-session'] }}<br>
      <strong>
        {{ data['arrange-a-session'][CRN][123]['session-date'] | dateWithDayAndWithoutYear }} from<br>
        {{ data['arrange-a-session'][CRN][123]['session-start-time'] }} to {{ data['arrange-a-session'][CRN][123]['session-end-time'] }}
      </strong>
      <a href="/arrange-a-session/{{ CRN }}/123/rearrange-or-cancel" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 govuk-!-margin-bottom-0"
        data-module="govuk-button">
        Rearrange or cancel appointment
      </a>
    </div>

    <h2 class="govuk-heading-m">
      Appointment attendance
    </h2>

    <p class="govuk-body">
      <ul class="govuk-list">
        <li>
          <span class="govuk-tag govuk-tag--green">{{ case.appointmentStatistics.complied }}</span> Complied
        </li>
        <li>
          <span class="govuk-tag govuk-tag--green">{{ case.appointmentStatistics.acceptableAbsence }}</span> Acceptable absence
        </li>
        <li>
          <span class="govuk-tag govuk-tag--red">{{ case.appointmentStatistics.failureToComply }}</span> Failure to comply
        </li>
      </ul>
    </p>

    <h2 class="govuk-heading-m">
      Contact details
    </h2>

    <dl class="app-card__one-third-column-list">
      <div class="app-card__one-third-column-list-item">
        <dt class="app-card__one-third-column-list-key">
          Address
        </dt>
        <dd class="app-card__one-third-column-list-value">
          {{ case.serviceUserPersonalDetails.address.join('<br>') | safe }}
        </dd>
      </div>
      <div class="app-card__one-third-column-list-item">
        <dt class="app-card__one-third-column-list-key">
          Phone number
        </dt>
        <dd class="app-card__one-third-column-list-value">
          {{ case.serviceUserPersonalDetails.phone }}
        </dd>
      </div>
      <div class="app-card__one-third-column-list-item">
        <dt class="app-card__one-third-column-list-key">
          Email
        </dt>
        <dd class="app-card__one-third-column-list-value">
          {{ case.serviceUserPersonalDetails.email }}
        </dd>
      </div>
    </dl>

    {% if case.personalContacts.length > 0 %}
    <p class="govuk-body">
      <a class="govuk-heading-s" href="/cases/{{ CRN }}/address-book-personal">View all personal contacts ({{ case.personalContacts.length }})</a>
    </p>
  {% endif %}

    <h2 class="govuk-heading-m">
      Personal details and circumstances
    </h2>

    <dl class="app-card__one-third-column-list">
      <div class="app-card__one-third-column-list-item">
        <dt class="app-card__one-third-column-list-key">
          Preferred language
        </dt>
        <dd class="app-card__one-third-column-list-value">
          {{ case.serviceUserPersonalDetails.preferredLanguage }}
        </dd>
      </div>
      <div class="app-card__one-third-column-list-item">
        <dt class="app-card__one-third-column-list-key">
          Disabilities and adjustments
        </dt>
        <dd class="app-card__one-third-column-list-value">
          {{ case.serviceUserPersonalDetails.disabilitiesAndAdjustments }}
        </dd>
      </div>
      <div class="app-card__one-third-column-list-item">
        <dt class="app-card__one-third-column-list-key">
          Employment status
        </dt>
        <dd class="app-card__one-third-column-list-value">
          {{ case.serviceUserPersonalDetails.circumstances.employment }}
        </dd>
      </div>
      <div class="app-card__one-third-column-list-item">
        <dt class="app-card__one-third-column-list-key">
          Housing status
        </dt>
        <dd class="app-card__one-third-column-list-value">
          {{ case.serviceUserPersonalDetails.circumstances.housingStatus }}
        </dd>
      </div>
      <div class="app-card__one-third-column-list-item">
        <dt class="app-card__one-third-column-list-key">
          Safeguarding issues
        </dt>
        <dd class="app-card__one-third-column-list-value">
          {{ case.serviceUserPersonalDetails.circumstances.safeguardingIssues.join(', ') or 'None' }}
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      Probation history
    </h2>

    <div class="app-card app-card--blue govuk-!-margin-bottom-6">
      <strong>Probation status</strong><br>
      {{ case.status }}
    </div>

    <p class="govuk-body">
      <ul class="govuk-list">
        <li>
          <span class="govuk-tag govuk-tag--grey">{{ case.breachesCount }}</span> Breaches
        </li>
        <li>
          <span class="govuk-tag govuk-tag--grey">{{ case.restrainingOrdersCount }}</span> Restraining orders
        </li>
      </ul>
    </p>

    {% if case.previousOrders.length > 0 %}
      <p class="govuk-body">
        <a class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1" href="/cases/{{ CRN }}/previous-orders">Previous orders ({{ case.previousOrders.length }})</a>
        Last ended on {{ case.previousOrders[0].endDate | dateWithYearShortMonth }}
      </p>
    {% endif %}

    {% if case.professionalContacts.length > 0 %}
      <p class="govuk-body">
        <a class="govuk-heading-s" href="/cases/{{ CRN }}/address-book-professional">Previous professional contacts ({{ case.professionalContacts.length }})</a>
      </p>
    {% endif %}

  </div>
</div>

{% endblock %}
