{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block keyDetails %}
  {% include "includes/service-user-banner.html" %}
{% endblock %}

{% block beforeContent %}
<a href="/cases/{{ CRN }}/details" class="govuk-back-link">Back to {{ case.serviceUserPersonalDetails.firstName }}’s details</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Personal details</h1>
  </div>
</div>

<div class="govuk-!-margin-bottom-7">
  {% set dateOfBirthAndAge %}
  {{ case.serviceUserPersonalDetails.dateOfBirth | dateWithYear }} ({{ case.serviceUserPersonalDetails.age }} years old)
  {% endset %}

  {{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
  {
  key: { text: "Name" },
  value: { text: case.serviceUserPersonalDetails.name }
  },
  {
  key: { text: "Aliases" },
  value: { text: case.serviceUserPersonalDetails.aliases.join(', ') }
  },
  {
  key: { text: "Date of birth" },
  value: { text: dateOfBirthAndAge }
  },
  {
  key: { text: "Preferred language" },
  value: { text: case.serviceUserPersonalDetails.preferredLanguage }
  },
  {
  key: { text: "Disabilities and adjustments" },
  value: { text: case.serviceUserPersonalDetails.disabilitiesAndAdjustments.join(', ') }
  },
  {
  key: { text: "Nationality" },
  value: { text: case.serviceUserPersonalDetails.nationality }
  },
  {
  key: { text: "Ethnicity" },
  value: { text: case.serviceUserPersonalDetails.ethnicity }
  },
  {
  key: { text: "Religion or belief" },
  value: { text: case.serviceUserPersonalDetails.religion }
  },
  {
  key: { text: "Gender" },
  value: { text: case.serviceUserPersonalDetails.gender }
  },
  {
  key: { text: "Sexual orientation" },
  value: { text: case.serviceUserPersonalDetails.sexualOrientation }
  }
  ]
  }) }}
</div>

<p class="govuk-body-s govuk-hint-s">
  Last updated 6 January 2021
</p>

{% endblock %}
