{% extends "layout.html" %}
{% set title = 'Full personal details' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

{% include "case/_case-service-user-banner.html" %}

{% set currentNavSection = 'details' %}
{% include "case/_case-nav.html" %}

{{ govukBackLink({
  text: "Back to personal details",
  href: "/cases/" + CRN + "/details"
}) }}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{title}}</h1>
  </div>
</div>

<div class="govuk-!-margin-bottom-7">
  {% set dateOfBirthAndAge %}
  {{ case.serviceUserPersonalDetails.dateOfBirth | dateWithYear }} ({{ yearsSince(case.serviceUserPersonalDetails.dateOfBirth) }} years old)
  {% endset %}

  {{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
  {
  key: { text: "Name" },
  value: { text: case.serviceUserPersonalDetails.name }
  },
  {
  key: { text: "Aliases" },
  value: { text: case.serviceUserPersonalDetails.aliases.join(', ') }
  },
  {
  key: { text: "Date of birth" },
  value: { text: dateOfBirthAndAge }
  },
  {
  key: { text: "Preferred language" },
  value: { text: case.serviceUserPersonalDetails.preferredLanguage }
  },
  {
  key: { text: "Disabilities and adjustments" },
  value: { text: case.serviceUserPersonalDetails.disabilitiesAndAdjustments.join(', ') }
  },
  {
  key: { text: "Nationality" },
  value: { text: case.serviceUserPersonalDetails.nationality }
  },
  {
  key: { text: "Ethnicity" },
  value: { text: case.serviceUserPersonalDetails.ethnicity }
  },
  {
  key: { text: "Religion or belief" },
  value: { text: case.serviceUserPersonalDetails.religion }
  },
  {
  key: { text: "Gender" },
  value: { text: case.serviceUserPersonalDetails.gender }
  },
  {
  key: { text: "Sexual orientation" },
  value: { text: case.serviceUserPersonalDetails.sexualOrientation }
  }
  ]
  }) }}
</div>

<p class="govuk-body-s govuk-hint-s">
  Last updated 6 January 2021
</p>

{% endblock %}
