{% extends "layout.html" %}
{% set title = 'Plan' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% set alias = case.serviceUserPersonalDetails.aliases[0] %}
{% set name = case.serviceUserPersonalDetails.name + " (" + alias + ")" if alias else case.serviceUserPersonalDetails.name %}
{% block pageNavigation %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Cases",
      href: "/cases"
    },
    {
      text: name,
      href: "/cases/" + CRN
    },
    {
      text: title
    }
  ]
  }) }}
{% endblock %}

{% block content %}

{% include "case/_case-service-user-banner.html" %}

{% set currentNavSection = 'plan' %}
{% include "case/_case-nav.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ title }}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-margin-bottom-7">
        <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3" style="max-width:none;">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <p class="govuk-heading-s govuk-!-margin-bottom-0">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">
                    Risk assessment
                  </a>
                </p>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                Last updated 1 August 2021
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <p class="govuk-heading-s govuk-!-margin-bottom-0">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">
                    Risk management plan
                  </a>
                </p>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ govukTag({text: 'Not started', classes: 'govuk-tag--grey'}) }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <p class="govuk-heading-s govuk-!-margin-bottom-0">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">
                    Sentence plan
                  </a>
                </p>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ govukTag({text: 'Not started', classes: 'govuk-tag--grey'}) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

  </div>
</div>

<div class="govuk-grid-column-one-third">


</div>
    {% endblock %}
