{% extends "layout.html" %}
{% set title = 'Previous orders' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

{% include "case/_case-service-user-banner.html" %}

{{ govukBackLink({
  text: "Back to sentence",
  href: "/cases/" + CRN + "/sentence"
}) }}

<div class="govuk-!-margin-bottom-8">

  <h2 class="govuk-heading-m">Previous orders</h2>

  {% for order in case.previousOrders %}
    <p class="govuk-heading-s govuk-!-margin-bottom-0">
      <a class="govuk-link govuk-link--no-visited-state" href="#">
        {{ order.title }}
      </a>
    </p>

    <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ order.description }}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Ended on {{ order.endDate | dateWithYearShortMonth }}</td>
        </tr>
      </tbody>
    </table>
  {% endfor %}
</div>

{% endblock %}
