{% extends "layout.html" %}
{% set title = 'Sentence' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

{% include "case/_case-service-user-banner.html" %}

{% set currentNavSection = 'sentence' %}
{% include "case/_case-nav.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Sentence</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-margin-bottom-7">
        <h2 class="govuk-heading-m">
          {{ case.currentOrder.type }}
        </h2>
        <p class="govuk-body">{{ case.currentOrder.description }}</p>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Length
          </dt>
          <dd class="govuk-summary-list__value">
            {{ case.currentOrder.lengthInMonths }} months
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ case.currentOrder.startDate | dateWithYear }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            End date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ case.currentOrder.endDate | dateWithYear }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Time elapsed
          </dt>
          <dd class="govuk-summary-list__value">
            {{ case.currentOrder.progressInMonths }} months elapsed (of {{ case.currentOrder.lengthInMonths }} months)
          </dd>
        </div>
        </dl>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-!-margin-bottom-7">
        <h3 class="govuk-heading-m">
          Requirements
        </h3>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          {% for _, requirement in case.currentOrder.requirements %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ requirement.type }}
              </dt>
              <dd class="govuk-summary-list__value">
                {{ requirement.value }}
              </dd>
            </div>
          {% endfor %}
        </dl>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="govuk-!-margin-bottom-7">
          <h3 class="govuk-heading-m">
            Offence details
          </h3>
          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Offence date
              </dt>
              <dd class="govuk-summary-list__value">
                {{ case.currentOrder.offenceDate | dateWithYear }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Conviction date
              </dt>
              <dd class="govuk-summary-list__value">
                {{ case.currentOrder.convictionDate | dateWithYear }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Court
              </dt>
              <dd class="govuk-summary-list__value">
                {{ case.currentOrder.court }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Responsible court
              </dt>
              <dd class="govuk-summary-list__value">
                {{ case.currentOrder.responsibleCourt }}
              </dd>
            </div>
            </dl>
        </div>

  </div><!--END COL TWO THIRDS-->

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Court documents</h2>
    <div class="moj-timeline__description govuk-!-margin-bottom-7">
      <div class="note-panel">
        <ul class="moj-timeline__documents">
          {% for doc in case.currentOrder.courtDocuments %}
          <li class="moj-timeline__document-item" style="margin-bottom: 20px;">
            <a class="moj-timeline__document-link" href="#"><strong>{{ doc.name }}</strong></a><br>
            <span style="padding-left: 25px;">
              {% if doc.lastUpdateDate %}
                Last updated {{ doc.lastUpdateDate | dateWithYearShortMonth }}
              {% else %}
                <span class="govuk-hint-s">Unavailable</span>
              {% endif %}
            </span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <h2 class="govuk-heading-m">
      Probation history
    </h2>

    <div class="app-card app-card--blue govuk-!-margin-bottom-6">
      <strong>Probation status</strong><br>
      {{ case.status }}
    </div>

    <p class="govuk-body">
      <ul class="govuk-list">
        <li>
          <span class="govuk-tag govuk-tag--grey">{{ case.breachesCount }}</span> Breaches
        </li>
        <li>
          <span class="govuk-tag govuk-tag--grey">{{ case.restrainingOrdersCount }}</span> Restraining orders
        </li>
      </ul>
    </p>

    {% if case.previousOrders.length > 0 %}
    <p class="govuk-body">
      <a class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1" href="/cases/{{ CRN }}/previous-orders">Previous orders ({{ case.previousOrders.length }})</a>
      Last ended on {{ case.previousOrders[0].endDate | dateWithYearShortMonth }}
    </p>
    {% endif %}

    {% if case.professionalContacts.length > 0 %}
      <p class="govuk-body">
        <a class="govuk-heading-s" href="/cases/{{ CRN }}/address-book-professional">Previous professional contacts ({{ case.professionalContacts.length }})</a>
      </p>
    {% endif %}

  </div>
</div>

{% endblock %}
