{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">View session notes</h1>

    <h2 class="govuk-heading-m">Version 3</h2>
    
    <p class="govuk-body">
      <img src="/public/images/view-session-notes/view-session-notes-03.png" width="50%">

      <img src="/public/images/view-session-notes/view-session-notes-04.png" width="50%">

    <img src="/public/images/view-session-notes/view-session-notes-05.png" width="50%">
    </p>

    <h2 class="govuk-heading-m">Version 2</h2>
    
    <p class="govuk-body">
      <img src="/public/images/view-session-notes/view-session-notes-02.png" width="50%">
    </p>

    <h2 class="govuk-heading-m">Version 1</h2>
    
    <p class="govuk-body">
      <img src="/public/images/view-session-notes/view-session-notes-01.png" width="50%">
    </p>


</div>
</div>


  {% endblock %}