.app-card__one-third-column-list {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    width: 100%;
    margin: 0 0 20px;
  }
  
  .app-card__one-third-column-list-item {
    margin-bottom: 10px;
  }
  
  .app-card__one-third-column-list-key, .app-card__one-third-column-list-value {
    display: block;
  }
  
  .app-card__one-third-column-list-key {
    font-weight: 700;
  }
  
  .app-card__one-third-column-list-value {
    margin: 0;
  }
  

  
  @media (min-width: 40.0625em) {
  .app-card__one-third-column-list {
      font-size: 19px;
      line-height: 1.5;
  
    }
  }