{% extends "layout.html" %}

{% block pageTitle %}
Case history
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v3/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="case-history" class="govuk-back-link">Back to contact history</a>
{% endblock %}

{% block content %}
<main>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Add contact with service user to contact history</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="case-history-confirm" method="post" class="form">
                <form>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading">Contact type</h2>
                            </legend>
                            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                <div class="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact-history-type"
                                            name="contact-history-type" type="radio" value="england">
                                        <label class="govuk-label govuk-radios__label" for="contact-history-type">
                                            Planned office visit
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact-history-type-2"
                                            name="contact-history-type" type="radio" value="england">
                                        <label class="govuk-label govuk-radios__label" for="contact-history-type-2">
                                            Home visit
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact-history-type-3"
                                            name="contact-history-type" type="radio" value="england">
                                        <label class="govuk-label govuk-radios__label" for="contact-history-type-3">
                                            Video call
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact-history-type-4"
                                            name="contact-history-type" type="radio" value="england">
                                        <label class="govuk-label govuk-radios__label" for="contact-history-type-4">
                                            Phone call
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact-history-type-5"
                                            name="contact-history-type" type="radio" value="scotland">
                                        <label class="govuk-label govuk-radios__label" for="contact-history-type-5">
                                            Email
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact-history-type-6"
                                            name="contact-history-type" type="radio" value="wales">
                                        <label class="govuk-label govuk-radios__label" for="contact-history-type-6">
                                            Text
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact-history-type-7"
                                            name="contact-history-type" type="radio" value="wales">
                                        <label class="govuk-label govuk-radios__label" for="contact-history-type-7">
                                            Letter
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact-history-type-8" name="contact-history-type" type="radio" value="wales" data-aria-controls="conditional-contact-history">
                                        <label class="govuk-label govuk-radios__label" for="contact-history-type-8">
                                          Other
                                        </label>
                                      </div>
                                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-history">
                                        <div class="govuk-form-group">
                                          <label class="govuk-label govuk-!-font-weight-bold" for="contact-history-by-email">
                                            Contact type
                                          </label>
                                          <input class="govuk-input govuk-!-width-two-thirds" id="contact-history-by-email" name="contact-history-by-email" type="email" spellcheck="false"></div>
                                      </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading">Contact initiated by</h2>
                            </legend>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact-from" name="contact-from"
                                    type="radio" value="wales">
                                <label class="govuk-label govuk-radios__label" for="contact-from">
                                    Responsible officer
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact-from-2" name="contact-from"
                                    type="radio" value="wales">
                                <label class="govuk-label govuk-radios__label" for="contact-from-2">
                                    Service user
                                </label>
                            </div>
                            </fieldset>
                    </div>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    <h2 class="govuk-fieldset__heading">
                                      Date of contact
                                    </h2>
                                  </legend>
                                  <div id="passport-issued-hint" class="govuk-hint">
                                    For example, 12 11 2007
                                  </div>
                                  <div class="govuk-date-input" id="passport-issued">
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                          Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                          Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                          Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                    </div>
                                  </div>
                                </fieldset>
                              </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-!-font-weight-bold" for="case-note-description">
                                    Notes
                                </label>
                                <textarea class="govuk-textarea" rows="5" style="max-width:none;"></textarea>
                            </div>


                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                  <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                        Counts towards Rehabilitation Activity Requirement (RAR)
                                      </label>
                                    </div>
                                  </div>
                                </fieldset>
                              </div>
                              
                        <button class="govuk-button send-message">
                        Add to contact history
                    </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}