{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/new-service-user/v3/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="case-list" class="govuk-back-link">Back to my cases</a>
{% endblock %}

{% block content %}
<div class="moj-banner moj-banner--success">
  <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
  <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" /></svg>
  <div class="moj-banner__message">
  <span class="moj-banner__assistive">Success</span>Attendance updated</div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="progress.html">Dylan's progress</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="details.html">Dylan's details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="sentence.html">Dylan's sentence</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Dylan's progress</h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-!-margin-bottom-7">
            <h2 class="govuk-heading-m">
        Appointments
      </h2>
      
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next appointment
          </dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-body govuk-!-font-weight-bold">Planned office visit</span><br>
            Wednesday 31 August from 1pm to 2pm<br>
            <a href="appointment-update">Change appointment</a>
          </dd>
        </div>
      </dl>
    </div>

    <div class="govuk-!-margin-bottom-7">
      <p class="govuk-body">
        <a class="govuk-button" href="appointment-add">Book appointment</a>
      </p>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-!-margin-bottom-7">
  <h2 class="govuk-heading-m">
    Attendance
  </h2>

  <dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Last attended
      </dt>
      <dd class="govuk-summary-list__value">
        <span class="govuk-body govuk-!-font-weight-bold">Planned office visit</span><br>
        Wednesday 25 August 2021<br>
        Attended - Complied
      </dd>
    </div>
  </dl>

    {% include "includes/new-service-user/v3/progress-attendance-breach-data.html" %}

    {% include "includes/new-service-user/v3/progress-risk-data.html" %}

    {% endblock %}