{% extends "layout.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/service-user-banner.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="case-list" class="govuk-back-link">Back to my cases</a>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Book an appointment</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="case-note-title">
    Title
  </label>
  <input class="govuk-input">
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<form action="appointment-confirm" method="post" class="form">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
        Date
      </h1>
    </legend>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 12 11 2007
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>

  </fieldset>
</div>

  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--s" for="width-5">
      Start time
    </label>
    <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--s" for="width-5">
      End time
    </label>
    <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
  </div>

  <button class="govuk-button send-message">
    Save
  </button>
</form>
  </div>
  </div>
</div>
</div>

{% endblock %}