{% extends "layout.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/service-user-banner.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="case-list" class="govuk-back-link">Back to my cases</a>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" 
            href="case-detail.html">Case summary</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="case-history.html">Case history</a>
        </li>
        <!--
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="probationrecord.html">Probation record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="">Risk register</a>
        </li>
      -->
      </ul>

    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Case history</h1>

<div id="intervention-progress">

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Item</th>
        <th scope="col" class="govuk-table__header">Item</th>
        <th scope="col" class="govuk-table__header">Item</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Item</td>
          <td class="govuk-table__cell">Item</td>
          <td class="govuk-table__cell">Item
          </td>
        </tr>
    </tbody>
  </table>
  </div>

  </div>

  <div class="govuk-grid-column-one-third">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="appointment">Book an appointment</a> 
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="case-notes-add">Add case notes</a> 
      </li>
    </ul> 
  </div>
</div>

  

{% endblock %}