{% extends "layout.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/service-user-banner.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="case-list" class="govuk-back-link">Back to my cases</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Service user details</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Offence</h2>
      <div class="govuk-!-margin-bottom-7">
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Offence
            </dt>
            <dd class="govuk-summary-list__value">
              Drive motor vehicle when alcohol level above limit	
            </dd>
            </div>
        </dl>
      </div>
    </div>

    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Sentence</h2>
      <div class="govuk-!-margin-bottom-7">
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Community order
            </dt>
            <dd class="govuk-summary-list__value">
              12 months
            </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Unpaid work
            </dt>
            <dd class="govuk-summary-list__value">
              120 hours
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Rehabilitative Activity Requirement (RAR)
            </dt>
            <dd class="govuk-summary-list__value">
              45 days
            </dd>
          </div>
        </dl>
      </div>
    </div>
          

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Personal details
      </h2>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Dylan Adam Armstrong
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            Male
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            27 September 1984 (35 years old)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            British
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            1 Grey Lane<br> Sheffield<br> South Yorkshire<br> S10 1AG
          </dd>
        </div>
      </dl>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Risks
      </h2>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            OGRS Score
          </dt>
          <dd class="govuk-summary-list__value">
            50
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            RM2000 Score
          </dt>
          <dd class="govuk-summary-list__value">
           Medium
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ROSHA Score
          </dt>
          <dd class="govuk-summary-list__value">
           Medium
          </dd>
        </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              SARA Score
            </dt>
            <dd class="govuk-summary-list__value">
             Low
            </dd>
          </div>
      </dl>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Needs
      </h2>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Criminogenic needs
            </dt>
            <dd class="govuk-summary-list__value">
              Thinking and attitudes<br>
              Relationships<br>
              Accommodation<br>
            </dd>
          </div>
      </dl>
    </div>

    <a class="govuk-link govuk-link--no-visited-state" href="progress">View progress</a>

  </div>
</div>


{% endblock %}