{% from "govuk/components/tag/macro.njk"              import govukTag %}

<div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">{{ params.title }}</h2>
    {% if params.author %}
      <p class="moj-timeline__byline">by {{ params.author }}</p>
    {% endif %}

    {% if params.tagText and params.tagColour %}
      &NonBreakingSpace;
      {{ govukTag({text: params.tagText, classes: 'govuk-tag--' + params.tagColour}) }}
    {% endif %}

    <p class="moj-timeline__date">
      <time datetime="{{ params.time }}">{{ params.time | dateWithYear }} at {{ params.time | govukTimeWithMinutes }}</time>
    </p>

    {% if params.body %}
      <div class="moj-timeline__description">
        {{ params.body | safe }}
      </div>
    {% endif %}
  </div>
</div>
