{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="details" class="govuk-back-link">Back to {{ case.serviceUserPersonalDetails.firstName }}’s details</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ case.serviceUserPersonalDetails.firstName }}’s address book</h1>
  </div>
</div>

<div class="govuk-tabs" data-module="govuk-tabs">
  <div class="app-case-updates">
  </div>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="address-book-professional">
        Professional contacts
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="address-book-personal">
        Personal contacts
      </a>
    </li>
  </ul>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% set hr = joiner('<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">') %}

    {% for contact in case.professionalContacts %}
      {{ hr() | safe }}

      <div class="govuk-!-margin-bottom-7">
        <h2 class="govuk-heading-m">{{ contact.name }}</h2>

        {{ govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: [
            {
              key: { text: "Phone number" },
              value: { text: contact.phone }
            },
            {
              key: { text: "Email" },
              value: { text: contact.email }
            },
            {
              key: { text: "Provider" },
              value: { text: contact.provider }
            },
            {
              key: { text: "Local Delivery Unit (LDU)" },
              value: { text: contact.localDeliveryUnit }
            },
            {
              key: { text: "Team" },
              value: { text: contact.team }
            },
            {
              key: { text: "Allocated until" },
              value: { text: contact.allocatedUntilDate | dateWithYear }
            }
          ]
        }) }}
      </div>
    {% endfor %}

  </div>
</div>

{% endblock %}
