{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--SCENARIO-->
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Scenario
        </span>
      </summary>
      <div class="govuk-details__text">
          <h3 class="govuk-heading-m">The scenario</h3>
        <ul>
          <li>It's Day 1 of the new National Probation Service
          </li>
          <li>Previous systems don't exist anymore (eg Delius/OASys)
          </li>
          <li>You've been allocated a new service user
          </li>
          <li>They've already had their induction
          </li>
          <li>The first appointment has been arranged for next Tuesday morning
          </li>
          </ul>
          <h3 class="govuk-heading-m">The service user</h3>
        <p><span class="govuk-body govuk-!-font-weight-bold">Dylan Adam Armstrong</span><br>Male, 35 years old</p>
        <ul>
          <li>Previously known to probation
          </li>
          <li>Medium risk case
          </li>
          <li>12 month Community Order
          </li>
          <li>15 RAR days
          </li>
          <li>Fined £1,000
          </li>
        </ul>
      </div>
    </details>

    <!--USER TESTING DATES-->
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          User testing dates
        </span>
      </summary>
      <div class="govuk-details__text">
          
          <p class="govuk-body">
            <strong>13 Nov 2020</strong><br>
            Presenting screens to users for feedback.
          </p>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Feedback session outputs
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  Received positive comments that GOV.UK style is better than the current system.
                </li>
                <li>
                  Didn't get to the core user needs.
                </li>
              </ul>
              <p class="govuk-body"><strong>Next steps</strong> - Run co-design workshops with Probation Practitioners on "How might we make the start of the probation journey better?".</p>
            </div>
          </details>

          <p class="govuk-body">
            <strong>24-25 Nov 2020</strong><br>
            Co-design workshops with Probation Practitioners on "How might we make the start of the probation journey better?"
          </p>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                Co-design workshop outputs
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">User stories created from the co-design workshops that were tested in the next iteration:</p>
                <p class="govuk-body">As a Probation Practitioner, in order to prepare for an appointment I need to...</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>...see their previous offences
                  </li>
                  <li>...see their risk score
                  </li>
                  <li>...see their past appointments
                  </li>
                  <li>...see their how much time is left on their current order / RAR days
                  </li>
                  <li>...see my past notes
                  </li>
                </ul>
                <p class="govuk-body"><strong>Next steps</strong> - Prototype user stories and test with users</p>
               </div>
            </details>
    
            <p class="govuk-body">
            <strong>3 Dec 2020</strong><br>
            First task-based testing of preparing for induction, arranging a session and adding session notes.
            </p>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              User testing outputs
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  Using the 'Prepare a case for sentence' prototype was making it difficult to know how users needed the information to be structured.
                </li>
                <li>
                  Didn't get to the core user needs.
                </li>
              </ul>
              <p class="govuk-body"><strong>Next steps</strong> - Run card sorting workshops with Probation Practitioners, asking them to group information and prioritise when they would need the information.</p>
            </div>
          </details>
        
          <p class="govuk-body">
            <strong>11 Dec 2020-7 Jan 2021</strong><br>
            Card sorting workshops with Probation Practitioners to inform Information Architecture.
            </p>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                Card sorting outputs
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">Main groupings:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Identify the service user
                  </li>
                  <li>Understand their background
                  </li>
                  <li>Understand the case
                  </li>
                </ul>
              <p class="govuk-body">Prepare for the induction appointment:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Appointment date and time
                </li>
                <li>Information to identify the service user
                </li>
                <li>Contact details for the service user
                </li>
                <li>Personal circumstances (from pre-sentence report if applicable)
                </li>
                <li>Case information (High level information of offence, sentence/order and risk level)
                </li>
              </ul>
              <p class="govuk-body">Prepare for the second appointment (Initial Sentence Plan):</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Appointment date and time
                </li>
                <li>Background from last appointment
                </li>
                <li>More detail on the offence
                </li>
                <li>More detail of risk level and past risk assessments
                </li>
                <li>Previous order details
                </li>
              </ul>
                <p class="govuk-body"><strong>Next steps</strong> - Update Information Architecture in the prototype based on findings and test with users.</p>
              </div>
            </details>
          
            <p class="govuk-body">
            <strong>14 Jan 2021</strong><br>
            Task-based testing with new Information Architecture
            </p>
  
            <p class="govuk-body">
            <strong>4 Feb 2021</strong>
            </p>
          
            <p class="govuk-body">
            <strong>25 Feb 2021</strong><br>
            Design sprint testing of completing tasks on mobile
            </p>

      </div>
    </details>

    <h2 class="govuk-heading-l">Latest version</h2>
    <p class="govuk-heading-m"><a href="combined/v6/case-list">Iteration 6 - MVP in progress</a></p>
    <p class="govuk-heading-m"><a href="combined/v5/case-list">Iteration 5 - Tested in the design sprint</a></p>

    <h2 class="govuk-heading-l">User journeys</h2>

    <div class="moj-timeline">

            <!--VIEW LIST OF NEW CASES-->
            <div class="moj-timeline__item">
              <div class="moj-timeline__header govuk-!-margin-bottom-3">
                <h2 class="moj-timeline__title govuk-!-font-size-24">View list of new cases</h2>
              </div>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    <a href="/view-list-of-new-cases/case-list-v2" class="govuk-link govuk-!-font-weight-bold">
                    Version 2 - Latest version
                    </a>
                  </li>
                  <li>
                    <a href="/view-list-of-new-cases/case-list-v1" class="govuk-link">
                    Version 1
                    </a>
                  </li>
                </ul>   
              <div class="moj-timeline__description">
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Key findings
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        Risk Of Serious Harm is more useful than Tier when prioritising.
                      </li>
                      <li>
                        Seeing date of next appointment is more useful than 'Scheduled' when prioritising.
                      </li>
                  </div>
                </details>
              </div>
            </div>

      <!--IDENTIFY THE SERVICE USER-->
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24">Identify the service user</h2>
        </div>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/identify-the-service-user/identify-v2" class="govuk-link govuk-!-font-weight-bold">
              Version 2 - Latest version
              </a>
            </li>
            <li>
              <a href="/identify-the-service-user/identify-v1" class="govuk-link">
              Version 1
              </a>
            </li>
          </ul>   
        <div class="moj-timeline__description">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Key findings
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                 CRN is more used more than PNC to identify.
                </li>
                <li>Date of birth is useful to identify.</li>
                <li>Probation status is not needed to identify.</li>
            </div>
          </details>
        </div>
      </div>

      <!--VIEW SERVICE USERS DETAIL-->
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24">View service user details</h2>
        </div>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/view-service-user-details/v4/progress" class="govuk-link">
              Version 4
              </a><br>
              Progress (including 6 months into sentence), details, sentence, previous orders and officers
            </li>
            <li>
              <a href="/view-service-user-details/v3/progress" class="govuk-link">
              Version 3
              </a><br>
              Progress, details, and sentence
            </li>
            <li>
              <a href="/view-service-user-details/v2/service-user-details" class="govuk-link">
              Version 2
              </a><br>
              Case summary, orders, and current order details
            </li>
            <li>
              <a href="/view-service-user-details/v1/service-user-details" class="govuk-link">
              Version 1
              </a>
            </li>
          </ul>   
        <div class="moj-timeline__description">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Key findings TBD
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  Test
                </li>
            </div>
          </details>
        </div>
      </div>

      <!--VIEW PLAN-->
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24">View plan</h2>
        </div>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/view-plan/v1/plan" class="govuk-link">
              Version 1
              </a>
            </li>
          </ul>   
        <div class="moj-timeline__description">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Key findings TBD
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                 Test
                </li>
            </div>
          </details>
        </div>
      </div>

       <!--VIEW SESSION NOTES-->
       <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24">View session notes</h2>
        </div>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/view-session-notes/v3/previous-sessions" class="govuk-link">
              Version 3
              </a><br>
              Timeline component
            </li>
            <li>
              <a href="/view-session-notes/v2/previous-sessions" class="govuk-link">
              Version 2
              </a>
            </li>
            <li>
              <a href="/view-session-notes/v1/previous-sessions" class="govuk-link">
              Version 1
              </a>
            </li>
          </ul>   
        <div class="moj-timeline__description">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Key findings TBD
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                 Test
                </li>
            </div>
          </details>
        </div>
      </div>

      <!--ADD SESSION NOTES-->
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24">Add session notes</h2>
        </div>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <strong>Version 3</strong><br>
              <a href="/add-session-notes/v3/session-notes-add" class="govuk-link">
              Add session notes
              </a><br>
              <a href="/add-session-notes/v3/note-add-1" class="govuk-link">
              Add a note or document
              </a> (not related to a session)
            </li>
            <li>
              <a href="/add-session-notes/v2/session-notes-add-1" class="govuk-link">
              Version 2
              </a>
            </li>
            <li>
              <a href="/add-session-notes/v1/session-notes-add" class="govuk-link">
              Version 1
              </a>
            </li>
          </ul>   
        <div class="moj-timeline__description">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Key findings TBD
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                 Test
                </li>
            </div>
          </details>
        </div>
      </div>

      <!--CONFIRM ATTENDANCE-->
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24">Confirm attendance</h2>
        </div>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/confirm-attendance/v3/attendance-add-1" class="govuk-link">
              Version 3
              </a> - Design sprint for mobile view
            <li>
              <a href="/confirm-attendance/v2/attendance-add-1" class="govuk-link">
              Version 2
              </a>
            </li>
            <li>
              <a href="/confirm-attendance/v1/attendance-add" class="govuk-link">
              Version 1
              </a>
            </li>
          </ul>   
        <div class="moj-timeline__description">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Key findings TBD
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                 Test
                </li>
            </div>
          </details>
        </div>
      </div>


      <!-- ARRANGE A SESSION-->
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24">Arrange a session</h2>
        </div>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/arrange-a-session/v5/appointment-add-1" class="govuk-link">
              Version 5
              </a> - Design sprint for mobile view
            </li>
            <li>Version 4<br>
              <a href="/arrange-a-session/v4/appointment-add-1" class="govuk-link">
              Arrange a session
              </a><br>
              <a href="/arrange-a-session/v4/appointment-update-1" class="govuk-link">
              Update a session
                </a>
            </li>
            <li>
              <a href="/arrange-a-session/v3/appointment-add" class="govuk-link">
              Version 3
              </a>
            </li>
            <li>
              <a href="/arrange-a-session/v2/appointment-add" class="govuk-link">
              Version 2
              </a>
            </li>
            <li>
              <a href="/arrange-a-session/v1/appointment-add" class="govuk-link">
              Version 1
              </a>
            </li>
          </ul>   
        <div class="moj-timeline__description">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Key findings TBD
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                 Test
                </li>
            </div>
          </details>
        </div>
      </div>

        <!-- UPDATE PERSONAL DETAILS-->
        <div class="moj-timeline__item">
          <div class="moj-timeline__header govuk-!-margin-bottom-3">
            <h2 class="moj-timeline__title govuk-!-font-size-24">Update personal details</h2>
          </div>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="/update-personal-details/v1/personal-details" class="govuk-link">
                Version 1
                </a> - Design sprint for mobile view
              </li>
            </ul>   
          <div class="moj-timeline__description">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Key findings TBD
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                   Test
                  </li>
              </div>
            </details>
          </div>
        </div>

    </div><!--END TIMELINE-->


 <!--CLASSIC VIEW-->
 <p class="govuk-body"><a href="index-classic">Switch to classic view</a></p>


  </div>












  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <a href="user-testing" class="govuk-button">
        Test prototype
      </a>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list useful-links govuk-!-font-size-16">
          <!--<li>
            <a href="https://dsdmoj.atlassian.net/wiki/spaces/NDSS/pages/2490761516/Steel+thread+project"
              class="govuk-link--no-visited-state">
              Project Confluence
            </a>
          </li>-->
          <li>
            <a href="https://trello.com/b/YQ7Xmh13/steel-thread-inception"
              class="govuk-link--no-visited-state">
              Project Trello
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/drive/u/0/folders/1IiUwSrjjS1NoVd1sk__APQziYrwjBE3F">
              Team Google Drive
            </a>
          </li>
          <li>
            <a href="https://github.com/ministryofjustice/hmpps-steel-thread" class="govuk-link--no-visited-state">
              Prototype GitHub repository
            </a>
          </li>
        </ul>
      </nav>
      <!--<h2 class="govuk-heading-m govuk-!-margin-top-6">Examples and documentation</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list useful-links govuk-!-font-size-16">
          <li>
            <a href="https://govuk-prototype-kit.herokuapp.com/docs/tutorials-and-examples"
              class="govuk-link--no-visited-state">
              GOV.UK Prototype Kit - Tutorials and examples
            </a>
          </li>
          <li>
            <a href="https://design-system.service.gov.uk/" class="govuk-link--no-visited-state">
              GOV.UK Design System
            </a>
          </li>
          <li>
            <a href="https://moj-design-system.herokuapp.com/" class="govuk-link--no-visited-state">
              MOJ Design System
            </a>
          </li>
          <li>
            <a href="https://github.com/ctdesign/gov-design-systems-list/blob/master/README.md"
              class="govuk-link--no-visited-state">
              GOV Design Systems list
            </a>
          </li>
        </ul>
      </nav>-->
    </aside>
  </div>

  {% endblock %}