{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="moj-timeline">
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24">A Probation Practioner takes on a new Service User</h2>
        </div>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Scenario
            </span>
          </summary>
          <div class="govuk-details__text">
              <h3 class="govuk-heading-m">The scenario</h3>
            <ul>
              <li>It's Day 1 of the new National Probation Service
              </li>
              <li>Previous systems don't exist anymore (eg Delius/OASys)
              </li>
              <li>You've been allocated a new service user
              </li>
              <li>They've already had their induction
              </li>
              <li>The first appointment has been arranged for next Tuesday morning
              </li>
              </ul>
              <h3 class="govuk-heading-m">The service user</h3>
            <p><span class="govuk-body govuk-!-font-weight-bold">Dylan Adam Armstrong</span><br>Male, 35 years old</p>
            <ul>
              <li>Previously known to probation
              </li>
              <li>Medium risk case
              </li>
              <li>12 month Community Order
              </li>
              <li>15 RAR days
              </li>
              <li>Fined £1,000
              </li>
            </ul>
          
          </div>
        </details>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="/combined/v5/case-list">Iteration 5</a>
              </th>
              <td class="govuk-table__cell" style="text-align: right;">Tested 25 Feb 2021
              </td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="/combined/v4/case-list">Iteration 4</a>
              </th>
              <td class="govuk-table__cell" style="text-align: right;">Tested 4 Feb 2021
              </td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="/combined/v3/case-list">Iteration 3</a>
              </th>
              <td class="govuk-table__cell" style="text-align: right;">Tested 14 Jan 2021
              </td>
            </tr>
          </tbody>
        </table>
        <div class="moj-timeline__description">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Key findings of iteration 3
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">Information grouping created from the card sort workshops that were tested in this iteration:</p>
              <p class="govuk-body">Prepare for the induction appointment:</p>
              <ul>
                <li>Appointment date and time
                </li>
                <li>Information to identify the service user
                </li>
                <li>Contact details for the service user
                </li>
                <li>Personal circumstances (from pre-sentence report if applicable)
                </li>
                <li>Case information (High level information of offence, sentence/order and risk level)
                </li>
              </ul>
              <p class="govuk-body">Prepare for the second appointment (Initial Sentence Plan):</p>
              <ul>
                <li>Appointment date and time
                </li>
                <li>Background from last appointment
                </li>
                <li>More detail on the offence
                </li>
                <li>More detail of risk level and past risk assessments
                </li>
                <li>Previous order details
                </li>
              </ul>
            </div>
          </details>
        </div>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="/combined/v2/case-list">Iteration 2</a>
              </th>
              <td class="govuk-table__cell" style="text-align: right;">Tested 3 Dec 2020
              </td>
            </tr>
          </tbody>
        </table>
        <div class="moj-timeline__description">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
               Key findings of iteration 2
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">User stories created from the co-design workshops that were tested in this iteration:</p>
              <p class="govuk-body">As a Probation Practitioner, in order to prepare for an appointment I need to...</p>
              <ul>
                <li>...see their previous offences
                </li>
                <li>...see their risk score
                </li>
                <li>...see their past appointments
                </li>
                <li>...see their how much time is left on their current order / RAR days
                </li>
                <li>...see my past notes
                </li>
              </ul>
              <p class="govuk-body">We found that reusing the 'Prepare a case for sentence' prototype was making it difficult to know how users needed the information to be structured.</p>
              <p class="govuk-body">This preventing us from getting to the core user needs, so we decided before iterating further that we would run card sorting workshops on 11 December and 7 January with Probation Practitioners, asking them to group information and prioritise when they would need the information.</p>
              <p class="govuk-body">The card sort workshops allowed us to create information groupings that would inform the Information Architecture (see Iteration 3 notes).</p>
            </div>
          </details>
        </div>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="/combined/v1/case-list">Iteration 1</a> 
              </th>
              <td class="govuk-table__cell" style="text-align: right;">Tested 13 Nov 2020
              </td>
            </tr>
          </tbody>
        </table>
        <div class="moj-timeline__description">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Key findings of iteration 1
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">We received a lot of positive comments about the GOV.UK style and how it was better than the current system.</p>
              <p class="govuk-body">This preventing us from getting to the core user needs, so we decided before iterating further that we would run co-design workshops on 24-25 November with Probation Practitioners, asking the question "How might we make the start of the probation journey better?"</p>
              <p class="govuk-body">The co-design workshops allowed us to create user stories for the start of the probation journey (see Iteration 2 notes).</p>
            </div>
          </details>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <a href="user-testing" class="govuk-button">
        Test prototype
      </a>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list useful-links govuk-!-font-size-16">
          <li>
            <a href="https://dsdmoj.atlassian.net/wiki/spaces/NDSS/pages/2490761516/Steel+thread+project"
              class="govuk-link--no-visited-state">
              Project Confluence
            </a>
          </li>
          <li>
            <a href="https://trello.com/b/YQ7Xmh13/steel-thread-inception"
              class="govuk-link--no-visited-state">
              Project Trello
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/drive/u/0/folders/1IiUwSrjjS1NoVd1sk__APQziYrwjBE3F">
              Team Google Drive
            </a>
          </li>
          <li>
            <a href="https://github.com/ministryofjustice/hmpps-steel-thread" class="govuk-link--no-visited-state">
              Prototype GitHub repository
            </a>
          </li>
        </ul>
      </nav>
      <h2 class="govuk-heading-m govuk-!-margin-top-6">Examples and documentation</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list useful-links govuk-!-font-size-16">
          <li>
            <a href="https://govuk-prototype-kit.herokuapp.com/docs/tutorials-and-examples"
              class="govuk-link--no-visited-state">
              GOV.UK Prototype Kit - Tutorials and examples
            </a>
          </li>
          <li>
            <a href="https://design-system.service.gov.uk/" class="govuk-link--no-visited-state">
              GOV.UK Design System
            </a>
          </li>
          <li>
            <a href="https://moj-design-system.herokuapp.com/" class="govuk-link--no-visited-state">
              MOJ Design System
            </a>
          </li>
          <li>
            <a href="https://github.com/ctdesign/gov-design-systems-list/blob/master/README.md"
              class="govuk-link--no-visited-state">
              GOV Design Systems list
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>

  {% endblock %}