{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      User testing
    </h2>

    <p class="govuk-body">
      <a href="v6/arrange-a-session/session-add-1">
        Arrange a session
      </a>
    </p>

    <p class="govuk-body">
      <a href="v6/confirm-attendance/attendance-add-1">
        Confirm attendance - Add RAR
      </a>
    </p>
    <p class="govuk-body">
      <a href="v6/confirm-attendance/attendance-add-1b">
        Confirm attendance - Remove RAR
      </a>
    </p>

  </div>
</div>

{% endblock %}