{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Add session notes</h1>
    
    <h2 class="govuk-heading-m">Version 3a - Add session notes</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/add-session-notes/add-session-notes-04.png">
        <img class="image-thumbnail" src="/public/images/add-session-notes/add-session-notes-04.png">
      </a>
        <!--<figcaption>
        <h3 class="govuk-heading-s">Key findings</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Findings TBD
          </li>
        </ul>
      </figcaption>-->
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Version 3b - Add a notes or document (not related to a session)</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/add-session-notes/add-session-notes-05.png">
        <img class="image-thumbnail" src="/public/images/add-session-notes/add-session-notes-05.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/add-session-notes/add-session-notes-06.png">
        <img class="image-thumbnail" src="/public/images/add-session-notes/add-session-notes-06.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/add-session-notes/add-session-notes-07.png">
        <img class="image-thumbnail" src="/public/images/add-session-notes/add-session-notes-07.png">
      </a>
       <!--<figcaption>
        <h3 class="govuk-heading-s">Key findings</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Findings TBD
          </li>
        </ul>
      </figcaption>-->
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Version 2</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/add-session-notes/add-session-notes-02.png">
        <img class="image-thumbnail" src="/public/images/add-session-notes/add-session-notes-02.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/add-session-notes/add-session-notes-03.png">
        <img class="image-thumbnail" src="/public/images/add-session-notes/add-session-notes-03.png">
      </a>
      <!--<figcaption>
        <h3 class="govuk-heading-s">Key findings</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Findings TBD
          </li>
        </ul>
      </figcaption>-->
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Version 1</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/add-session-notes/add-session-notes-01.png">
        <img class="image-thumbnail" src="/public/images/add-session-notes/add-session-notes-01.png">
      </a>
      <figcaption>
        <h3 class="govuk-heading-s">Key findings</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            No strong insights found.
          </li>
        </ul>
      </figcaption>
    </figure>

</div>
</div>


  {% endblock %}