{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Arrange a session</h1>
    
    <h2 class="govuk-heading-m">Version 5</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-13.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-13.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-14.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-14.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-15.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-15.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-16.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-16.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-17.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-17.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-18.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-18.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-19.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-19.png">
      </a>
      <figcaption>
        <h3 class="govuk-heading-s">Key findings</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Design sprint for mobile
          </li>
        </ul>
      </figcaption>
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Version 4</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-04.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-04.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-05.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-05.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-06.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-06.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-07.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-07.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-08.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-08.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-09.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-09.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-10.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-10.png">
      </a>
      <!--<figcaption>
        <h3 class="govuk-heading-s">Key findings</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Findings TBD
          </li>
        </ul>
      </figcaption>-->
    </figure>
    <br>
    <h3 class="govuk-heading-s">Update a session</h3>

    <figure>
    <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-11.png">
      <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-11.png">
    </a>
    <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-12.png">
      <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-12.png">
    </a>
  </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Version 3</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-03.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-03.png">
      </a>
      <!--<figcaption>
        <h3 class="govuk-heading-s">Key findings</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Findings TBD
          </li>
        </ul>
      </figcaption>-->
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Version 2</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-02.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-02.png">
      </a>
      <!--<figcaption>
        <h3 class="govuk-heading-s">Key findings</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Findings TBD
          </li>
        </ul>
      </figcaption>-->
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Version 1</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/arrange-a-session/arrange-a-session-01.png">
        <img class="image-thumbnail" src="/public/images/arrange-a-session/arrange-a-session-01.png">
      </a>
      <figcaption>
        <h3 class="govuk-heading-s">Key findings</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            No strong insights found.
          </li>
        </ul>
      </figcaption>
    </figure>
    
   

</div>
</div>


  {% endblock %}