{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Confirm attendance</h2>
    
    <h3 class="govuk-heading-m">Version 3</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-05.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-05.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-06.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-06.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-07.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-07.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-11.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-11.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-09.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-09.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-10.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-10.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-12.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-12.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-13.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-13.png">
      </a>
      <!--<figcaption>
        <h4 class="govuk-heading-s">Key findings</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Findings TBD
          </li>
        </ul>
      </figcaption>-->
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-m">Version 2</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-05.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-05.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-06.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-06.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-07.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-07.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-08.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-08.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-09.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-09.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-10.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-10.png">
      </a>
      <figcaption>
        <h4 class="govuk-heading-s">Key findings</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
           Probation practitioners we confused about the question 'How was Dylan compared to the last session', and weren't sure if this was about Dylan's engagement.
          </li>
        </ul>
      </figcaption>
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-m">Version 1</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-01.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-01.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-02.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-02.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/confirm-attendance/confirm-attendance-03.png">
        <img class="image-thumbnail" src="/public/images/confirm-attendance/confirm-attendance-03.png">
      </a>
      <figcaption>
        <h4 class="govuk-heading-s">Key findings</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
           Probation practitioners want to mark compliance first rather than attendance.
          </li>
        </ul>
      </figcaption>
    </figure>

  </div>
</div>

{% endblock %}