{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="moj-timeline">
      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Iteration 3 - New information architecture</h2>
        </div>
        <p class="moj-timeline__date">
          <time>Tested 14 January 2021</time>
        </p>
        <div class="moj-timeline__description">
          <p class="govuk-body">Tasks covered:</p>
          <ul class="govuk-list govuk-list--bullet">
            <!--<li>
              preparing for induction
            </li>
            <li>
              adding session notes
            </li>
            <li>
              arranging a session
            </li>-->
          </ul>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Outputs
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">

              </ul>
            </div>
          </details>
        </div>
      </div>

    </div>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-01.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03/iteration-03-01.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-02.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03/iteration-03-02.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-03.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03//iteration-03-03.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-04.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03/iteration-03-04.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-05.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03/iteration-03-05.png">
      </a>
    </figure>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-06.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03/iteration-03-06.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-07.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03/iteration-03-07.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/design-history/iteration-03/iteration-03-08.png">
        <img class="image-thumbnail" src="/public/images/design-history/iteration-03/iteration-03-08.png">
      </a>
    </figure>
    <figure>

    </figure>

  </div>
</div>

{% endblock %}