{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">View session notes</h1>

    <h2 class="govuk-heading-m">Version 3</h2>
    
    <figure>
      <a class="image-thumbnail-link" href="/public/images/view-session-notes/view-session-notes-03.png">
        <img class="image-thumbnail" src="/public/images/view-session-notes/view-session-notes-03.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-session-notes/view-session-notes-04.png">
        <img class="image-thumbnail" src="/public/images/view-session-notes/view-session-notes-04.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-session-notes/view-session-notes-05.png">
        <img class="image-thumbnail" src="/public/images/view-session-notes/view-session-notes-05.png">
      </a>
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
   
    <h2 class="govuk-heading-m">Version 2</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/view-session-notes/view-session-notes-02.png">
        <img class="image-thumbnail" src="/public/images/view-session-notes/view-session-notes-02.png">
      </a>
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Version 1</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/view-session-notes/view-session-notes-01.png">
        <img class="image-thumbnail" src="/public/images/view-session-notes/view-session-notes-01.png">
      </a>
    </figure>

</div>
</div>


  {% endblock %}