{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">View service users details</h2>
    
    <h3 class="govuk-heading-m">Version 4</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-10.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-10.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-11.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-11.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-12.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-12.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-13.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-13.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-14.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-14.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-15.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-15.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-16.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-16.png">
      </a>
      <!--<figcaption>
        <h4 class="govuk-heading-s">Key findings</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Findings TBD
          </li>
        </ul>
      </figcaption>-->
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-m">Version 3</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-06.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-06.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-07.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-07.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-08.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-08.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-09.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-09.png">
      </a>
      <!--<figcaption>
        <h4 class="govuk-heading-s">Key findings</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            First task-based testing with new Information Architecture
          </li>
          <li>
            Findings TBD
          </li>
        </ul>
      </figcaption>-->
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-m">Version 2</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-02.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-02.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-03.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-03.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-04.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-04.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-05.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-05.png">
      </a>
      <figcaption>
        <h4 class="govuk-heading-s">Key findings</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            First task-based testing of preparing for induction, arranging a session and adding session notes.
          </li>
          <li>
            Using the 'Prepare a case for sentence' prototype was making it difficult to know how users needed the information to be structured.
          </li>
          <li>
            Didn't get to the core user needs.
          </li>
        </ul>
        <h4 class="govuk-heading-s">Next steps</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Run card sorting workshops with Probation Practitioners, asking them to group information and prioritise when they would need the information.
          </li>
        </ul>
      </figcaption>
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-m">Version 1</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-01.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-01.png">
      </a>
      <figcaption>
        <h4 class="govuk-heading-s">Key findings</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Feedback session - screens were presented to particpants rather than task-based testing.
          </li>
          <li>
            Received positive comments that GOV.UK style is better than the current system.
          </li>
          <li>
            Didn't get to the core user needs.
          </li>
        </ul>
        <h4 class="govuk-heading-s">Next steps</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Run co-design workshops with Probation Practitioners on "How might we make the start of the probation journey better?".
          </li>
        </ul>
      </figcaption>
    </figure>

  </div>
</div>

{% endblock %}