{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">View service users details</h1>
    
    <h2 class="govuk-heading-m">Version 4</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-10.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-10.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-11.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-11.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-12.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-12.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-13.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-13.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-14.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-14.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-15.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-15.png">
      </a>
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Version 3</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-06.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-06.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-07.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-07.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-08.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-08.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-09.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-09.png">
      </a>
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Version 2</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-02.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-02.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-03.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-03.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-04.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-04.png">
      </a>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-05.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-05.png">
      </a>
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Version 1</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/view-service-user-details/view-service-user-details-01.png">
        <img class="image-thumbnail" src="/public/images/view-service-user-details/view-service-user-details-01.png">
      </a>
      <!--<figcaption>
        <h3 class="govuk-heading-s">Key findings</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
           CRN is more used more than PNC to identify.
          </li>
          <li>Date of birth is useful to identify.</li>
          <li>Probation status is not needed to identify.</li>
        </ul>
      </figcaption>-->
    </figure>

</div>
</div>


  {% endblock %}