{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">View plan</h1>
    
    <!--<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">-->

    <h2 class="govuk-heading-m">Version 1</h2>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/view-plan/view-plan-01.png">
        <img class="image-thumbnail" src="/public/images/view-plan/view-plan-01.png">
      </a>
       <!--<figcaption>
        <h3 class="govuk-heading-s">Key findings</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Findings TBD
          </li>
        </ul>
      </figcaption>-->
    </figure>

</div>
</div>


  {% endblock %}