{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Steel thread | HMPPS
{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">View list of new cases</h2>
    
    <h3 class="govuk-heading-m">Version 2</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/view-list-of-new-cases/view-list-of-new-cases-02.png">
        <img class="image-thumbnail" src="/public/images/view-list-of-new-cases/view-list-of-new-cases-02.png">
      </a>
      <figcaption>
        <h4 class="govuk-heading-s">Key findings</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            No further insights found.
          </li>
        </ul>
        <h4 class="govuk-heading-s">Outstanding</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Do probation practitioners need to explicitly accept recently allocated cases?
          </li>
        </ul>
      </figcaption>
    </figure>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-m">Version 1</h3>
    <figure>
      <a class="image-thumbnail-link" href="/public/images/view-list-of-new-cases/view-list-of-new-cases-01.png">
        <img class="image-thumbnail" src="/public/images/view-list-of-new-cases/view-list-of-new-cases-01.png">
      </a>
      <figcaption>
        <h4 class="govuk-heading-s">Key findings</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Risk Of Serious Harm is more useful than Tier when prioritising.
          </li>
          <li>
            Seeing date of next appointment is more useful than 'Scheduled' when prioritising.
          </li>
        </ul>
      </figcaption>
    </figure>

  </div>
</div>

{% endblock %}