{% set complianceText = case.serviceUserPersonalDetails.firstName + ' was absent' if data['communication'][CRN][sessionId]['did-service-user-comply'] == 'Absent' else data['communication'][CRN][sessionId]['did-service-user-comply']  %}

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: { text: case.serviceUserPersonalDetails.firstName + " complied?" },
      value: { text: complianceText },
      actions: {
        items: [
          {
            href: "compliance",
            text: "Change",
            visuallyHiddenText: "compliance"
          }
        ]
      } if showAction
    },
    {
      key: { text: "RAR activity" },
      value: { text: data['communication'][CRN][sessionId]['session-rar-category'] if data['communication'][CRN][sessionId]['session-counts-towards-rar'] == 'Yes' else 'None'  },
      actions: {
        items: [
          {
            href: "rar",
            text: "Change",
            visuallyHiddenText: "RAR activity"
          }
        ]
      } if showAction
    },
    {
      key: { text: "RAR activity subcategory" },
      value: { text: data['communication'][CRN][sessionId]['session-rar-subcategory'] },
      actions: {
        items: [
          {
            href: "rar",
            text: "Change",
            visuallyHiddenText: "RAR activity"
          }
        ]
      } if showAction
    } if data['communication'][CRN][sessionId]['session-counts-towards-rar'] == 'Yes',
    {
      key: { text: "Appointment notes" },
      value: {
        html: data['communication'][CRN][sessionId]['session-notes'] | nl2br | safe if data['communication'][CRN][sessionId]['session-notes'] else 'None'
      },
      actions: {
        items: [
          {
            href: "add-notes",
            text: "Change",
            visuallyHiddenText: "appointment notes"
          }
        ]
      } if showAction
    }
  ]
  }) }}
