{% extends "_wizard-form.html" %}
{% set title = "Was " + case.serviceUserPersonalDetails.firstName + "’s absence acceptable?" %}

{% block form %}
  {% set whyAcceptableHtml %}
    {{ govukInput({
      label: {
        text: "Why was this absence acceptable?"
      },
      classes: 'govuk-!-width-two-thirds'
    } | decorateFormAttributes(['confirm-attendance', CRN, sessionId, 'why-absence-acceptable'])) }}
  {% endset %}

  {{ govukRadios({
       fieldset: {
         legend: {
           text: title,
           classes: "govuk-label--xl",
           isPageHeading: true
         }
       },
       name: 'session-counts-towards-rar',
       items: [
         {
           text: 'Yes',
           value: 'Yes',
           conditional: {
             html: whyAcceptableHtml
           }
         },
         {
           text: 'No',
           value: 'No'
         }
       ]
       } | decorateFormAttributes(['confirm-attendance', CRN, sessionId, 'was-absence-acceptable']))
  }}
{% endblock %}
