{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="/cases/{{ case.CRN }}/timeline" class="govuk-back-link">Back to {{ case.serviceUserPersonalDetails.firstName }}’s previous
  sessions</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="attendance-add-6" method="post" class="form">

      {% set rarCategories = [
        'Employment, Training and Education',
        'Wellbeing – both physical and mental',
        'Finance, benefit and debt',
        'Relationships',
        'Restorative Justice Interventions',
        'Substance Misuse',
        'Alcohol Treatment Requirements or Mental Health Treatment Requirements',
        'Thinking skills, attitudes and behaviour'
      ] %}

      {% set rarRadioItems = [] %}
      {% for rarCategory in rarCategories %}
        {% set rarRadioItems = (rarRadioItems.push({
          text: rarCategory,
          value: rarCategory,
          checked: checked("session-rar-category", rarCategory)
        }), rarRadioItems) %}
      {% endfor %}

      {% set rarCategoryHtml %}
        {{ govukRadios({
               fieldset: {
                 legend: {
                   text: "What will this session count towards?"
                 }
               },
               items: rarRadioItems
             } | decorateFormAttributes(['confirm-a-session', CRN, 'RARCategory']) )
          }}
      {% endset %}

      {{ govukRadios({
           fieldset: {
             legend: {
               text: "Would you like this to count towards RAR?",
               classes: "govuk-label--l"
             }
           },
           hint: {
             html: 'This will account for one day of Rehabilitation Activity Requirement (RAR).'
           },
           items: [
             {
               text: 'Yes',
               value: 'Yes',
               conditional: {
                 html: rarCategoryHtml
               }
             },
             {
               text: 'No',
               value: 'No'
             }
           ]
           } | decorateFormAttributes(['confirm-a-session', CRN, 'countsTowardsRAR']) ) }}

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>


  </div>

</div>

{% endblock %}
