{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block keyDetails %}
  {% include "includes/service-user-banner.html" %}
{% endblock %}

{% block beforeContent %}
<a href="progress" class="govuk-back-link">Back to {{ case.serviceUserPersonalDetails.firstName }}’s progress</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check your answers</h1>

    <form action="/confirm-attendance/{{ case.CRN }}/{{ sessionId }}/confirmation" method="post" class="form">

      {% set complianceText = case.serviceUserPersonalDetails.firstName + ' was absent' if data['confirm-attendance'][CRN][sessionId]['did-service-user-comply'] == 'Absent' else data['confirm-attendance'][CRN][sessionId]['did-service-user-comply']  %}

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: { text: "RAR activity" },
            value: { text: data['confirm-attendance'][CRN][sessionId]['RARCategory'] if data['confirm-attendance'][CRN][sessionId]['countsTowardsRAR'] == 'Yes' else 'None'  },
            actions: {
              items: [
                {
                  href: "rar-categories",
                  text: "Change",
                  visuallyHiddenText: "RAR activity"
                }
              ]
            }
          },
          {
            key: { text: case.serviceUserPersonalDetails.firstName + " complied?" },
            value: { text: complianceText },
            actions: {
              items: [
                {
                  href: "compliance",
                  text: "Change",
                  visuallyHiddenText: "compliance"
                }
              ]
            }
          },
          {
            key: { text: "Session notes" },
            value: { text: data['confirm-attendance'][CRN][sessionId]['notes'] if data['confirm-attendance'][CRN][sessionId]['add-notes'] == 'Yes' else 'None' },
            actions: {
              items: [
                {
                  href: "add-notes",
                  text: "Change",
                  visuallyHiddenText: "session notes"
                }
              ]
            }
          }
        ]
        }) }}

      <p class="govuk-body">You’re confirming attendance for:</p>

      <div class="govuk-inset-text">
        <strong>{{ case.previousAppointment.type }}</strong><br>
        {{ case.previousAppointment.timestamp | dateWithDayAndWithoutYear }} from {{ case.previousAppointment.timestamp | govukTime }} to {{ case.previousAppointment.endTime | govukTime }}
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Confirm attendance
      </button>

    </form>

  </div>
</div>

{% endblock %}
