{% extends "layout.html" %}

{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/service-user-banner.html" %}
{% endblock %}

{% endblock %}

{% block beforeContent %}
<a href="progress" class="govuk-back-link">Back to {{ case.serviceUserPersonalDetails.firstName }}’s progress</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check your answers</h1>

    <form action="confirmation" method="post" class="form">

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: { text: "RAR activity" },
            value: { text: data['confirm-a-session'][CRN]['RARCategory'] if data['confirm-a-session'][CRN]['countsTowardsRAR'] == 'Yes' else 'None'  },
            actions: {
              items: [
                {
                  href: "rar-categories",
                  text: "Change",
                  visuallyHiddenText: "RAR activity"
                }
              ]
            }
          },
          {
            key: { text: case.serviceUserPersonalDetails.firstName + " complied" },
            value: { text: "Yes" },
            actions: {
              items: [
                {
                  href: "compliance",
                  text: "Change",
                  visuallyHiddenText: "compliance"
                }
              ]
            }
          },
          {
            key: { text: "Session notes" },
            value: { text: "None" },
            actions: {
              items: [
                {
                  href: "add-notes",
                  text: "Change",
                  visuallyHiddenText: "session notes"
                }
              ]
            }
          }
        ]
        }) }}

      <p class="govuk-body">You’re confirming attendance for:</p>

      <div class="govuk-inset-text">
        <strong>{{ case.previousAppointment.type }}</strong><br>
        {{ case.previousAppointment.timestamp | dateWithDayAndWithoutYear }} from {{ case.previousAppointment.timestamp | govukTime }} to {{ case.previousAppointment.endTime | govukTime }}
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Confirm attendance
      </button>

    </form>

  </div>
</div>

{% endblock %}
