{% extends "_wizard-form.html" %}
{% set buttonText = 'Confirm attendance' %}
{% set title = 'Check your answers' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set complianceText = case.serviceUserPersonalDetails.firstName + ' was absent' if data['confirm-attendance'][CRN][sessionId]['did-service-user-comply'] == 'Absent' else data['confirm-attendance'][CRN][sessionId]['did-service-user-comply']  %}

  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9',
    rows: [
      {
        key: { text: "RAR activity" },
        value: { text: data['confirm-attendance'][CRN][sessionId]['session-rar-category'] if data['confirm-attendance'][CRN][sessionId]['session-counts-towards-rar'] == 'Yes' else 'None'  },
        actions: {
          items: [
            {
              href: "rar-categories",
              text: "Change",
              visuallyHiddenText: "RAR activity"
            }
          ]
        }
      },
      {
        key: { text: case.serviceUserPersonalDetails.firstName + " complied?" },
        value: { text: complianceText },
        actions: {
          items: [
            {
              href: "compliance",
              text: "Change",
              visuallyHiddenText: "compliance"
            }
          ]
        }
      },
      {
        key: { text: "Appointment notes" },
        value: { text: data['confirm-attendance'][CRN][sessionId]['notes'] if data['confirm-attendance'][CRN][sessionId]['add-notes'] == 'Yes' else 'None' },
        actions: {
          items: [
            {
              href: "add-notes",
              text: "Change",
              visuallyHiddenText: "appointment notes"
            }
          ]
        }
      }
    ]
    }) }}

  <p class="govuk-body">You’re confirming attendance for:</p>

  <div class="govuk-inset-text">
    <strong>{{ data['confirm-attendance'][CRN][sessionId]['type-of-session'] }}</strong><br>
    {{ data['confirm-attendance'][CRN][sessionId]['session-date'] | dateWithDayAndWithoutYear }} from {{ data['confirm-attendance'][CRN][sessionId]['session-start-time'] }} to {{ data['confirm-attendance'][CRN][sessionId]['session-end-time'] }}
  </div>
{% endblock %}
