{% extends "_wizard-form.html" %}
{% set title = 'Did ' + case.serviceUserPersonalDetails.firstName + ' comply?' %}
{% set buttonText = 'Save and continue' %}

{% block form %}
  {{ govukRadios({
       fieldset: {
         legend: {
           text: 'Did ' + case.serviceUserPersonalDetails.firstName + ' comply?',
           classes: "govuk-label--l"
         }
       },
       items: [
         {
           text: 'Yes',
           value: 'Yes'
         },
         {
           text: 'No',
           value: 'No'
         },
         {
           text: case.serviceUserPersonalDetails.firstName + ' was absent',
           value: 'Absent'
         }
       ]
       } | decorateFormAttributes(['confirm-attendance', CRN, sessionId, 'did-service-user-comply']))
  }}
{% endblock %}
