{% extends "_wizard-page.html" %}
{% set buttonText = 'Arrange an appointment' %}
{% set title = "Attendance confirmed" %}

{% block page %}

  {% set panelHtml %}
    <strong>{{ data['confirm-attendance'][CRN][sessionId]['type-of-session'] }}</strong><br>
    {{ data['confirm-attendance'][CRN][sessionId]['session-date'] | dateWithDayAndWithoutYear }} from {{ data['confirm-attendance'][CRN][sessionId]['session-start-time'] }} to {{ data['confirm-attendance'][CRN][sessionId]['session-end-time'] }}
  {% endset %}

  {{ govukPanel({
    titleText: title,
    html: panelHtml
  }) }}

  <h2 class="govuk-heading-m">Next steps</h2>

    <div style="margin-top: 20px;">
      <a class="govuk-body" href="/cases/{{ case.CRN }}/timeline">Back to {{ case.serviceUserPersonalDetails.firstName }}’s communication</a>
    </div>
{% endblock %}
