{% extends "_wizard-form.html" %}
{% set title = "How did " + case.serviceUserPersonalDetails.firstName + " not comply?" %}
{% set buttonText = 'Save and continue' %}

{% block form %}
  {% set whyAcceptableHtml %}
    {{ govukInput({
      label: {
        text: "Give details"
      },
      classes: 'govuk-!-width-two-thirds'
    } | decorateFormAttributes(['confirm-attendance', CRN, sessionId, 'non-compliance-reason'])) }}
  {% endset %}

  {{ govukRadios({
       fieldset: {
         legend: {
           text: "How did " + case.serviceUserPersonalDetails.firstName + " not comply?",
           classes: "govuk-label--l"
         }
       },
       name: 'session-counts-towards-rar',
       items: [
         {
           text: 'Behavioural issues',
           value: 'Behavioural issues'
         },
         {
           text: 'Other',
           value: 'Other',
           conditional: {
             html: whyAcceptableHtml
           }
         }
       ]
       } | decorateFormAttributes(['confirm-attendance', CRN, sessionId, 'was-absence-acceptable']))
  }}
{% endblock %}
