{% extends "_wizard-form.html" %}
{% set title = 'Confirm attendance' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p class="govuk-body">You’re confirming attendance for:</p>

  <div class="govuk-inset-text">
    <strong>{{ data['communication'][CRN][sessionId]['type-of-session'] }}</strong><br>
    {{ data['communication'][CRN][sessionId]['session-date'] | dateWithDayAndWithoutYear }} from {{ data['communication'][CRN][sessionId]['session-start-time'] }} to {{ data['communication'][CRN][sessionId]['session-end-time'] }}
  </div>
{% endblock %}
