{% extends "_wizard-form.html" %}
{% set title = 'Confirm attendance' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p class="govuk-body">You’re confirming attendance for:</p>

  <div class="govuk-inset-text">
    <strong>{{ data['confirm-attendance'][CRN][sessionId].type }}</strong><br>
    {{ data['confirm-attendance'][CRN][sessionId].timestamp | dateWithDayAndWithoutYear }} from {{ data['confirm-attendance'][CRN][sessionId].startTime }} to {{ data['confirm-attendance'][CRN][sessionId].endTime | govukTime }}
  </div>
{% endblock %}
