{% extends "_wizard-form.html" %}
{% set title = 'Confirm attendance' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p class="govuk-body">You’re confirming attendance for:</p>

  <div class="govuk-inset-text">
    <strong>{{ case.previousAppointment.type }}</strong><br>
    {{ case.previousAppointment.timestamp | dateWithDayAndWithoutYear }} from {{ case.previousAppointment.timestamp | govukTime }} to {{ case.previousAppointment.endTime | govukTime }}
  </div>
{% endblock %}
